Repository FlorinSenoner/the-dahan-codex: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier, typecheck

biome:
  run: npx biome check --write --staged {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

typecheck:
  run: pnpm typecheck

refactor: remove auth layout, show sign-in prompts instead of redirects (#34)
  e2e/games.spec.ts
  e2e/smoke.spec.ts
  src/routeTree.gen.ts
  src/routes/__root.tsx
  src/routes/_authenticated.tsx
  src/routes/_authenticated/games.tsx
  src/routes/_authenticated/profile.tsx
  src/routes/games.tsx
  src/routes/games/$id.tsx
  src/routes/games/import.tsx
  src/routes/games/index.tsx
  src/routes/games/new.tsx
  src/routes/settings.tsx
  src/routes/sign-up.$.tsx
Due: biome, typecheck

fix: prevent auth guard redirect during loading and remove unused resolvedTheme
  src/contexts/theme-context.tsx
  src/routes/games/$id.tsx
  src/routes/games/import.tsx
  src/routes/games/new.tsx
Due: biome, typecheck

fix: prevent auth guard redirect during loading and remove unused resolvedTheme (#35)
  src/contexts/theme-context.tsx
  src/routes/games/$id.tsx
  src/routes/games/import.tsx
  src/routes/games/new.tsx
Due: biome, typecheck

feat: add view transitions from homepage spirit cards to detail page
  src/routes/index.tsx
Due: biome, typecheck

feat: add view transitions from homepage spirit cards to detail page (#36)
  src/routes/index.tsx
Due: biome, typecheck

fix: improve view transitions and add scroll restoration for spirit list
  src/components/layout/bottom-nav.tsx
  src/components/spirits/spirit-row.tsx
  src/routes/index.tsx
  src/routes/spirits.$slug.tsx
  src/routes/spirits.index.tsx
Due: biome, typecheck

fix: improve view transitions and add scroll restoration for spirit list (#37)
  src/components/layout/bottom-nav.tsx
  src/components/spirits/spirit-row.tsx
  src/routes/index.tsx
  src/routes/spirits.$slug.tsx
  src/routes/spirits.index.tsx
Due: biome, typecheck

chore: remove unused exported types flagged by knip
  src/components/games/score-breakdown.tsx
  src/lib/csv-import.ts
  src/lib/csv-spirits.ts
Due: biome, typecheck

style: theme Clerk auth widgets to match app design
  src/routes/__root.tsx
Due: biome, typecheck

style: theme Clerk auth widgets to match app design (#41)
  src/routes/__root.tsx
Due: biome, typecheck

chore: remove one-off scripts and sharp dependency
  package.json
  pnpm-lock.yaml
  scripts/generate-brand.mjs
  scripts/optimize-images.mjs
Due: biome, prettier

chore: remove one-off scripts and sharp dependency (#43)
  package.json
  pnpm-lock.yaml
  scripts/generate-brand.mjs
  scripts/optimize-images.mjs
Due: biome, prettier

fix: reset stale meta tags on cleanup and use webp spirit images
  src/hooks/use-page-meta.ts
  src/routes/index.tsx
Due: biome, typecheck

chore: remove orphaned generate:brand script reference
  package.json
Due: biome

fix: reset stale meta tags, use webp images, remove orphaned script (#44)
  package.json
  src/hooks/use-page-meta.ts
  src/routes/index.tsx
Due: biome, typecheck

chore: harden validation, theme favicons, offline data isolation, CSP
  convex/games.ts
  convex/lib/validators.ts
  convex/openings.ts
  index.html
  knip.config.ts
  public/_headers
  public/favicon-dark-branch.svg
  public/favicon-dark-dev.svg
  public/favicon-dark.svg
  public/favicon-light-branch.svg
  public/favicon-light-dev.svg
  public/favicon-light.svg
  public/theme-init.js
  src/contexts/theme-context.tsx
  src/hooks/use-offline-games.ts
  src/hooks/use-outbox-sync.ts
  src/lib/offline-games.ts
  src/router.tsx
  src/routes/__root.tsx
  src/routes/games.tsx
  src/routes/games/$id.tsx
  src/routes/settings.tsx
Due: biome, prettier, typecheck

chore: harden validation, theme favicons, offline data isolation, CSP (#45)
  convex/games.ts
  convex/lib/validators.ts
  convex/openings.ts
  index.html
  knip.config.ts
  public/_headers
  public/favicon-dark-branch.svg
  public/favicon-dark-dev.svg
  public/favicon-dark.svg
  public/favicon-light-branch.svg
  public/favicon-light-dev.svg
  public/favicon-light.svg
  public/theme-init.js
  src/contexts/theme-context.tsx
  src/hooks/use-offline-games.ts
  src/hooks/use-outbox-sync.ts
  src/lib/offline-games.ts
  src/router.tsx
  src/routes/__root.tsx
  src/routes/games.tsx
  src/routes/games/$id.tsx
  src/routes/settings.tsx
Due: biome, prettier, typecheck

Path conditions:
  biome: any of: *.{js,jsx,ts,tsx,json,css}
  prettier: any of: *.{md,mdx,html,yml,yaml}
  typecheck: any of: *.{ts,tsx}
