Repository FlorinSenoner/the-dahan-codex: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

biome:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: pnpm tsc --noEmit

feat(01-05): create service worker generator script
  package.json
  scripts/generate-sw.ts
Due: biome, typecheck

feat(01-05): register service worker and add PWA manifest to app
  app/lib/sw-register.ts
  app/routes/__root.tsx
Due: biome, typecheck

docs(01-05): complete PWA service worker plan
  .planning/STATE.md
  .planning/phases/01-foundation-authentication/01-05-SUMMARY.md
Due: none

feat(01-06): install Playwright and create smoke tests
  .gitignore
  e2e/smoke.spec.ts
  package.json
  playwright.config.ts
  pnpm-lock.yaml
Due: biome, typecheck

chore(01): remove .claude/settings.local.json from git tracking
  .claude/settings.local.json
  .gitignore
Due: biome

feat(01-06): create GitHub Actions CI/CD workflow
  .github/workflows/ci.yml
Due: none

feat(01-06): add local CI simulation and fix biome config
  biome.json
  package.json
Due: biome

docs(01-06): complete CI/CD pipeline plan
  .planning/STATE.md
  .planning/phases/01-foundation-authentication/01-06-SUMMARY.md
Due: none

chore(01): add prettier for markdown formatting and pin dependency versions
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/01-foundation-authentication/01-01-PLAN.md
  .planning/phases/01-foundation-authentication/01-01-SUMMARY.md
  .planning/phases/01-foundation-authentication/01-02-PLAN.md
  .planning/phases/01-foundation-authentication/01-02-SUMMARY.md
  .planning/phases/01-foundation-authentication/01-03-PLAN.md
  .planning/phases/01-foundation-authentication/01-03-SUMMARY.md
  .planning/phases/01-foundation-authentication/01-04-PLAN.md
  .planning/phases/01-foundation-authentication/01-04-SUMMARY.md
  .planning/phases/01-foundation-authentication/01-05-PLAN.md
  .planning/phases/01-foundation-authentication/01-05-SUMMARY.md
  .planning/phases/01-foundation-authentication/01-06-PLAN.md
  .planning/phases/01-foundation-authentication/01-06-SUMMARY.md
  .planning/phases/01-foundation-authentication/01-CONTEXT.md
  .planning/phases/01-foundation-authentication/01-RESEARCH.md
  .planning/phases/01-foundation-authentication/01-VERIFICATION.md
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
  .prettierignore
  .prettierrc.json
  convex/README.md
  lefthook.yml
  mise.toml
  package.json
  pnpm-lock.yaml
Due: biome

fix(01): migrate to @clerk/tanstack-react-start and add 404 handler
  app/lib/auth.ts
  app/router.tsx
  app/routes/__root.tsx
  app/routes/_authenticated/profile.tsx
  app/routes/index.tsx
  app/routes/sign-in.$.tsx
  package.json
  pnpm-lock.yaml
Due: biome, typecheck

fix(01): add publishableKey to ClerkProvider and defer providers to client
  app/routes/__root.tsx
Due: biome, typecheck

feat(quick-001): add knip for unused dependency/export detection
  biome.json
  knip.json
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: biome

feat(quick-001): add dependabot for automated dependency updates
  .github/dependabot.yml
Due: none

docs(quick-001): complete knip and dependabot setup
  .planning/quick/001-add-knip-and-dependabot-for-git-workflow/001-PLAN.md
  .planning/quick/001-add-knip-and-dependabot-for-git-workflow/001-SUMMARY.md
Due: none

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
