Repository FlorinSenoner/the-dahan-codex: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-branch:
      run: |
        BRANCH=$(git rev-parse --abbrev-ref HEAD)
        if [ "$BRANCH" = "main" ]; then
          echo "ERROR: Do not commit directly to main!"
          exit 1
        fi

    biome:
      glob: "*.{js,jsx,ts,tsx,json,css}"
      run: npx biome check --write --staged {staged_files}
      stage_fixed: true

    prettier:
      glob: "*.{md,mdx,html,yml,yaml}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

pre-push:
  parallel: true
  commands:
    knip:
      run: pnpm knip

    jscpd:
      run: pnpm jscpd

    test:
      run: pnpm test

chore: harden validation, theme favicons, offline data isolation, CSP (#45)
  convex/games.ts
  convex/lib/validators.ts
  convex/openings.ts
  index.html
  knip.config.ts
  public/_headers
  public/favicon-dark-branch.svg
  public/favicon-dark-dev.svg
  public/favicon-dark.svg
  public/favicon-light-branch.svg
  public/favicon-light-dev.svg
  public/favicon-light.svg
  public/theme-init.js
  src/contexts/theme-context.tsx
  src/hooks/use-offline-games.ts
  src/hooks/use-outbox-sync.ts
  src/lib/offline-games.ts
  src/router.tsx
  src/routes/__root.tsx
  src/routes/games.tsx
  src/routes/games/$id.tsx
  src/routes/settings.tsx
Due: biome, prettier, typecheck

fix: guard stale async reads and reject impossible calendar dates
  convex/games.ts
  src/hooks/use-offline-games.ts
Due: biome, typecheck

fix: guard stale async reads and reject impossible calendar dates (#46)
  convex/games.ts
  src/hooks/use-offline-games.ts
Due: biome, typecheck

chore: remove Convex and Clerk env vars from mise.toml
  mise.toml
Due: none

fix(ci): use dev Clerk key for E2E tests
  .github/workflows/ci.yml
Due: prettier

fix(ci): use variable (not secret) for test Clerk key
  .github/workflows/ci.yml
Due: prettier

chore: remove Convex and Clerk env vars from mise.toml (#47)
  .github/workflows/ci.yml
  mise.toml
Due: prettier

fix: allow Clerk proxy domain and Google Fonts in CSP, improve tab UX
  public/_headers
  src/components/spirits/opening-section.tsx
  src/components/ui/tabs.tsx
Due: biome, typecheck

fix: allow Clerk proxy domain and Google Fonts in CSP, improve tab UX (#48)
  public/_headers
  src/components/spirits/opening-section.tsx
  src/components/ui/tabs.tsx
Due: biome, typecheck

fix: add worker-src, fonts.gstatic.com and img.clerk.com to CSP
  public/_headers
Due: none

fix: prevent SW from intercepting robots.txt/sitemap.xml, fix 404 background banding
  src/router.tsx
  src/styles/globals.css
  src/sw.ts
Due: biome, typecheck

fix: add worker-src, fonts.gstatic.com and img.clerk.com to CSP (#49)
  public/_headers
  src/router.tsx
  src/styles/globals.css
  src/sw.ts
Due: biome, typecheck

feat: improve homepage copy, SEO metadata, and publish controls
  convex/_generated/api.d.ts
  convex/http.ts
  convex/lib/auth.ts
  convex/openings.ts
  convex/publish.ts
  convex/schema.ts
  index.html
  public/sitemap.xml
  src/components/admin/edit-fab.tsx
  src/components/spirits/spirit-row.tsx
  src/hooks/index.ts
  src/hooks/use-page-meta.ts
  src/hooks/use-structured-data.ts
  src/lib/slug.ts
  src/lib/sync.ts
  src/routes/credits.tsx
  src/routes/games/index.tsx
  src/routes/index.tsx
  src/routes/spirits.$slug.$aspect.tsx
  src/routes/spirits.$slug.tsx
  src/routes/spirits.index.tsx
Due: biome, prettier, typecheck

refactor: remove manual publish flow and schedule daily prerender
  .github/workflows/deploy.yml
  .gitignore
  convex/_generated/api.d.ts
  convex/http.ts
  convex/lib/auth.ts
  convex/openings.ts
  convex/publish.ts
  convex/schema.ts
  package.json
  scripts/generate-public-routes.mjs
  scripts/prerender-public-routes.mjs
  src/components/admin/edit-fab.tsx
  src/routes/spirits.$slug.tsx
Due: biome, prettier, typecheck

refactor: share prerender routes without public-routes artifact
  .gitignore
  scripts/generate-public-routes.mjs
  scripts/prerender-public-routes.mjs
Due: none

feat: auto-trigger public publish from convex changes
  .github/workflows/deploy.yml
  .github/workflows/publish-public.yml
  convex/_generated/api.d.ts
  convex/openings.ts
  convex/publishAuto.ts
  convex/schema.ts
Due: biome, prettier, typecheck

chore: remove unused exports reported by knip
  src/hooks/use-page-meta.ts
  src/lib/slug.ts
Due: biome, typecheck

fix: handle prerender directory routes and update smoke subtitle
  e2e/smoke.spec.ts
  scripts/prerender-public-routes.mjs
Due: biome, typecheck

ci: remove unsupported pr-title action input
  .github/workflows/pr-title.yml
Due: prettier
