Repository FlorinSenoner/the-dahan-codex: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-branch:
      run: |
        BRANCH=$(git rev-parse --abbrev-ref HEAD)
        if [ "$BRANCH" = "main" ]; then
          echo "ERROR: Do not commit directly to main!"
          exit 1
        fi

    biome:
      glob: "*.{js,jsx,ts,tsx,json,css}"
      run: npx biome check --write --staged {staged_files}
      stage_fixed: true

    prettier:
      glob: "*.{md,mdx,html,yml,yaml}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

pre-push:
  parallel: false
  commands:
    ci-parity:
      run: |
        if command -v mise >/dev/null 2>&1; then
          echo "Using CI toolchain from mise.toml"
          mise exec -- node --version
          mise exec -- pnpm --version

          echo "Sync dependencies from lockfile"
          mise exec -- pnpm install --frozen-lockfile

          echo "Run CI parity checks"
          mise exec -- pnpm check
          mise exec -- pnpm build

          echo "Run local unit tests"
          mise exec -- pnpm test
        else
          echo "WARNING: 'mise' not found. Falling back to local Node/pnpm toolchain."

          if ! command -v node >/dev/null 2>&1 || ! command -v pnpm >/dev/null 2>&1; then
            echo "ERROR: node and pnpm are required when mise is unavailable."
            exit 1
          fi

          node --version
          pnpm --version

          echo "Sync dependencies from lockfile"
          pnpm install --frozen-lockfile

          echo "Run CI parity checks"
          pnpm check
          pnpm build

          echo "Run local unit tests"
          pnpm test
        fi

chore(ci): remove call budget and background sync toggles
  .github/workflows/ci.yml
  .planning/runbooks/convex-call-budget.md
  package.json
  scripts/measure-convex-calls.mjs
  src/hooks/use-background-sync.ts
Due: biome, prettier, typecheck

refactor(convex): fetch public snapshot live across app
  package.json
  scripts/generate-public-routes.mjs
  scripts/generate-public-snapshot.mjs
  scripts/prerender-public-routes.mjs
  src/components/spirits/opening-section.tsx
  src/components/spirits/setup-section.tsx
  src/lib/public-snapshot.ts
  src/routes/spirits.$slug.$aspect.tsx
  src/routes/spirits.$slug.tsx
Due: biome, typecheck

feat(public): collapse snapshot reads and normalize prerender routing
  .github/workflows/publish-public.yml
  convex/_generated/api.d.ts
  convex/health.ts
  convex/http.ts
  convex/lib/scoring.ts
  convex/openings.ts
  convex/reference.ts
  convex/schema.ts
  convex/spirits.ts
  package.json
  pnpm-lock.yaml
  public/_headers
  public/_redirects
  public/sitemap.xml
  scripts/generate-public-routes.mjs
  scripts/prerender-public-routes.mjs
  src/components/games/spirit-picker.tsx
  src/components/spirits/opening-section.tsx
  src/components/spirits/overview-section.tsx
  src/components/spirits/setup-section.tsx
  src/components/spirits/variant-tabs.tsx
  src/data/public-snapshot.ts
  src/hooks/use-background-sync.ts
  src/hooks/use-outbox-sync.ts
  src/hooks/use-page-meta.ts
  src/lib/game-form-utils.test.ts
  src/lib/game-form-utils.ts
  src/lib/reference-selectors.test.ts
  src/lib/reference-selectors.ts
  src/lib/sync.ts
  src/router.tsx
  src/routes/games/new.tsx
  src/routes/settings.tsx
  src/routes/spirits.$slug.$aspect.tsx
  src/routes/spirits.$slug.tsx
  src/routes/spirits.index.tsx
  src/sw.ts
  src/types/convex.ts
  src/types/reference.ts
  src/vite-env.d.ts
Due: biome, prettier, typecheck

feat(public): collapse snapshot reads and normalize prerender routing (#83)
  .github/workflows/publish-public.yml
  convex/_generated/api.d.ts
  convex/health.ts
  convex/http.ts
  convex/lib/scoring.ts
  convex/openings.ts
  convex/reference.ts
  convex/schema.ts
  convex/spirits.ts
  package.json
  pnpm-lock.yaml
  public/_headers
  public/_redirects
  public/sitemap.xml
  scripts/generate-public-routes.mjs
  scripts/prerender-public-routes.mjs
  src/components/games/spirit-picker.tsx
  src/components/spirits/opening-section.tsx
  src/components/spirits/overview-section.tsx
  src/components/spirits/setup-section.tsx
  src/components/spirits/variant-tabs.tsx
  src/data/public-snapshot.ts
  src/hooks/use-background-sync.ts
  src/hooks/use-outbox-sync.ts
  src/hooks/use-page-meta.ts
  src/lib/game-form-utils.test.ts
  src/lib/game-form-utils.ts
  src/lib/reference-selectors.test.ts
  src/lib/reference-selectors.ts
  src/lib/sync.ts
  src/router.tsx
  src/routes/games/new.tsx
  src/routes/settings.tsx
  src/routes/spirits.$slug.$aspect.tsx
  src/routes/spirits.$slug.tsx
  src/routes/spirits.index.tsx
  src/sw.ts
  src/types/convex.ts
  src/types/reference.ts
  src/vite-env.d.ts
Due: biome, prettier, typecheck

fix(audit): address issue #82 findings
  .planning/codebase/CONCERNS.md
  README.md
  src/components/admin/editable-opening.tsx
  src/components/admin/editable-text.tsx
  src/components/spirits/setup-section.tsx
  src/components/spirits/spirit-row.tsx
  src/components/spirits/spirit-search.tsx
  src/components/ui/accordion.tsx
  src/components/ui/tabs.tsx
  src/main.tsx
  src/routes/index.tsx
  src/routes/spirits.$slug.tsx
Due: biome, prettier, typecheck

fix(spirits): restore snapshot recovery and keep local edits
  src/components/spirits/opening-section.tsx
  src/data/public-snapshot.ts
Due: biome, typecheck

fix(routing): default to slashless public URLs
  public/_redirects
  public/sitemap.xml
  scripts/generate-public-routes.mjs
  src/hooks/use-page-meta.ts
  src/sw.ts
Due: biome, typecheck

fix(spirits): resync openings safely after edit mode
  src/components/spirits/opening-section.tsx
Due: biome, typecheck

fix(ci): fail deploy on real Pages project errors
  .github/workflows/deploy.yml
Due: prettier

fix(spirits): clear deferred snapshot after local edits
  src/components/spirits/opening-section.tsx
Due: biome, typecheck

fix(routing): normalize slashless public paths and image fallback
  public/_redirects
  scripts/generate-public-routes.mjs
  src/main.tsx
Due: biome, typecheck

fix(games): prevent auth-state flash on index route
  src/routes/games/index.tsx
Due: biome, typecheck

fix(routing): simplify and scale public redirect rules
  public/_redirects
  scripts/generate-public-routes.mjs
Due: none

fix(routing): reuse snapshot routes for redirect generation
  public/_redirects
  scripts/generate-public-routes.mjs
Due: none

refactor(routing): remove redundant slash normalization logic
  scripts/generate-public-routes.mjs
  src/main.tsx
Due: biome, typecheck

fix(routing): remove slash canonical redirects causing loops
  public/_redirects
  scripts/generate-public-routes.mjs
Due: none

fix(games): replace blank auth loading view with recovery UI
  src/routes/games/index.tsx
Due: biome, typecheck

fix(games): add auth-load timeout recovery state
  src/routes/games/index.tsx
Due: biome, typecheck

fix(routing): avoid looping wildcard spirit rewrites
  public/_redirects
  scripts/generate-public-routes.mjs
Due: none

refactor(games): simplify auth gate UI states
  src/routes/games/index.tsx
Due: biome, typecheck

fix(games): block unauthenticated actions and add auth-load fallback
  src/routes/games/index.tsx
Due: biome, typecheck

fix(games): restore direct sign-in prompt for unauthenticated users
  src/routes/games/index.tsx
Due: biome, typecheck

fix(games): allow offline cached access when auth is unresolved
  src/lib/games-auth-gate.test.ts
  src/lib/games-auth-gate.ts
  src/routes/games/index.tsx
Due: biome, typecheck

chore(games): keep auth gate input type internal
  src/lib/games-auth-gate.ts
Due: biome, typecheck

refactor(convex): simplify adversary ref handling in games
  .planning/migrations/games/2026-03-03-adversary-reference-migration.md
  convex/games.ts
Due: biome, prettier, typecheck

docs(migrations): align adversary backfill notes with implementation
  .planning/migrations/games/2026-03-03-adversary-reference-migration.md
Due: prettier

test(e2e): stabilize smoke, search, and variant tab checks
  e2e/search.spec.ts
  e2e/smoke.spec.ts
  e2e/spirits.spec.ts
Due: biome, typecheck

fix(games): standardize adversary refs to id and level
  .planning/migrations/games/2026-03-03-adversary-reference-migration.md
  convex/games.ts
  convex/schema.ts
  src/components/games/adversary-picker.tsx
  src/components/games/game-row.tsx
  src/components/games/score-breakdown.tsx
  src/lib/csv-export.ts
  src/lib/csv-import.ts
  src/lib/game-form-utils.ts
  src/lib/reference-selectors.ts
  src/routes/games/$id.tsx
  src/routes/games/import.tsx
  src/routes/games/index.tsx
Due: biome, prettier, typecheck

fix(games): allow legacy adversary fields during migration
  convex/games.ts
  convex/schema.ts
Due: biome, typecheck

refactor(games): remove adversary migration compatibility
  .planning/migrations/games/2026-03-03-adversary-reference-migration.md
  convex/games.ts
  convex/schema.ts
Due: biome, prettier, typecheck

fix(games): prevent level-based score drift and sync adversary seeds
  convex/seed.ts
  src/components/games/adversary-picker.tsx
  src/components/games/game-form.tsx
  src/routes/games/$id.tsx
Due: biome, typecheck

fix(pwa): clear stale caches after service worker updates
  src/hooks/use-service-worker.ts
  src/lib/query-cache.ts
  src/router.tsx
  src/routes/__root.tsx
  src/routes/settings.tsx
Due: biome, typecheck

docs(migrations): record production adversary migration revalidation
  .planning/migrations/games/2026-03-03-adversary-reference-migration.md
Due: prettier

fix(home): align spirits card icon with nav
  src/routes/index.tsx
Due: biome, typecheck

refactor(ui): expand reusable components and dedupe repeated sections
  src/components/adversaries/adversary-image.tsx
  src/components/adversaries/adversary-list.tsx
  src/components/error-boundary.tsx
  src/components/games/game-form.tsx
  src/components/games/game-row.tsx
  src/components/games/game-summary.tsx
  src/components/games/pending-game-row.tsx
  src/components/games/score-breakdown.tsx
  src/components/pwa/install-prompt.tsx
  src/components/spirits/filter-sheet.tsx
  src/components/spirits/opening-section.tsx
  src/components/spirits/setup-section.tsx
  src/components/spirits/spirit-list.tsx
  src/components/spirits/spirit-row.tsx
  src/components/ui/empty-state.tsx
  src/components/ui/external-link-card.tsx
  src/components/ui/section-heading.tsx
  src/components/ui/section-label.tsx
  src/components/ui/stat-tile.tsx
  src/hooks/use-edit-section-state-sync.ts
  src/hooks/use-offline-games.ts
  src/lib/structured-data.ts
  src/router.tsx
  src/routes/__root.tsx
  src/routes/adversaries.$slug.tsx
  src/routes/adversaries.index.tsx
  src/routes/credits.tsx
  src/routes/games/$id.tsx
  src/routes/games/import.tsx
  src/routes/games/index.tsx
  src/routes/index.tsx
  src/routes/settings.tsx
  src/routes/spirits.$slug.$aspect.tsx
  src/routes/spirits.$slug.tsx
  src/routes/spirits.index.tsx
Due: biome, typecheck

refactor(ui): expand reusable components and dedupe repeated sections (#88)
  src/components/adversaries/adversary-image.tsx
  src/components/adversaries/adversary-list.tsx
  src/components/error-boundary.tsx
  src/components/games/game-form.tsx
  src/components/games/game-row.tsx
  src/components/games/game-summary.tsx
  src/components/games/pending-game-row.tsx
  src/components/games/score-breakdown.tsx
  src/components/pwa/install-prompt.tsx
  src/components/spirits/filter-sheet.tsx
  src/components/spirits/opening-section.tsx
  src/components/spirits/setup-section.tsx
  src/components/spirits/spirit-list.tsx
  src/components/spirits/spirit-row.tsx
  src/components/ui/empty-state.tsx
  src/components/ui/external-link-card.tsx
  src/components/ui/section-heading.tsx
  src/components/ui/section-label.tsx
  src/components/ui/stat-tile.tsx
  src/hooks/use-edit-section-state-sync.ts
  src/hooks/use-offline-games.ts
  src/lib/structured-data.ts
  src/router.tsx
  src/routes/__root.tsx
  src/routes/adversaries.$slug.tsx
  src/routes/adversaries.index.tsx
  src/routes/credits.tsx
  src/routes/games/$id.tsx
  src/routes/games/import.tsx
  src/routes/games/index.tsx
  src/routes/index.tsx
  src/routes/settings.tsx
  src/routes/spirits.$slug.$aspect.tsx
  src/routes/spirits.$slug.tsx
  src/routes/spirits.index.tsx
Due: biome, typecheck

chore(deps): update application and ci dependencies
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-preview.yml
  .github/workflows/dependabot-merge.yml
  .github/workflows/deploy.yml
  .github/workflows/publish-public.yml
  .jscpd.json
  README.md
  biome.json
  convex/tsconfig.json
  e2e/search.spec.ts
  mise.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/games/game-form.tsx
  src/components/spirits/spirit-search.tsx
  src/components/ui/accordion.tsx
  src/components/ui/card.tsx
  src/components/ui/collapsible.tsx
  src/components/ui/command.tsx
  src/components/ui/drawer.tsx
  src/components/ui/popover.tsx
  src/components/ui/select.tsx
  src/components/ui/tabs.tsx
  src/hooks/use-admin.ts
  src/hooks/use-offline-games.ts
  src/routes/__root.tsx
  src/routes/games/$id.tsx
  src/routes/games/import.tsx
  src/routes/games/index.tsx
  src/routes/games/new.tsx
  src/routes/settings.tsx
  src/routes/sign-in.$.tsx
  src/routes/sign-up.$.tsx
  src/routes/spirits.index.tsx
  src/types/convex.ts
  tsconfig.json
  vite.config.ts
Due: biome, prettier, typecheck

fix(ci): allow wrangler dependency build scripts
  knip.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome, prettier, typecheck

chore(deps): update application and ci dependencies (#165)
  .github/actions/setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/cleanup-preview.yml
  .github/workflows/dependabot-merge.yml
  .github/workflows/deploy.yml
  .github/workflows/publish-public.yml
  .jscpd.json
  README.md
  biome.json
  convex/tsconfig.json
  e2e/search.spec.ts
  knip.config.ts
  mise.toml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/components/games/game-form.tsx
  src/components/spirits/spirit-search.tsx
  src/components/ui/accordion.tsx
  src/components/ui/card.tsx
  src/components/ui/collapsible.tsx
  src/components/ui/command.tsx
  src/components/ui/drawer.tsx
  src/components/ui/popover.tsx
  src/components/ui/select.tsx
  src/components/ui/tabs.tsx
  src/hooks/use-admin.ts
  src/hooks/use-offline-games.ts
  src/routes/__root.tsx
  src/routes/games/$id.tsx
  src/routes/games/import.tsx
  src/routes/games/index.tsx
  src/routes/games/new.tsx
  src/routes/settings.tsx
  src/routes/sign-in.$.tsx
  src/routes/sign-up.$.tsx
  src/routes/spirits.index.tsx
  src/types/convex.ts
  tsconfig.json
  vite.config.ts
Due: biome, prettier, typecheck
