Repository FlorinSenoner/the-dahan-codex: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

lefthook.yml:

pre-commit:
  commands:
    biome:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm tsc --noEmit

docs(quick-010): complete client-only SPA migration
  .planning/STATE.md
  .planning/quick/010-switch-to-client-only-spa/010-SUMMARY.md
Due: none

docs(quick-010): update planning docs to reflect client-only architecture
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/quick/010-switch-to-client-only-spa/010-PLAN.md
  .planning/research/STACK.md
Due: none

feat(quick-011): add path-based aspect URLs and fix view transitions
  app/components/spirits/spirit-row.tsx
  app/routeTree.gen.ts
  app/routes/spirits.$slug.$aspect.tsx
Due: biome, typecheck

chore(quick-011): remove returning search params from spirit list
  app/routes/spirits.index.tsx
Due: biome, typecheck

docs(quick-011): complete view transitions and aspect URLs fix
  .planning/STATE.md
  .planning/quick/011-fix-view-transitions-and-aspect-urls/011-PLAN.md
  .planning/quick/011-fix-view-transitions-and-aspect-urls/011-SUMMARY.md
Due: none

fix(view-transitions): remove contain-layout from titles for smoother morphing
  app/components/spirits/spirit-row.tsx
  app/routes/spirits.$slug.$aspect.tsx
  app/routes/spirits.$slug.tsx
Due: biome, typecheck

fix(aspect-detail): back button navigates to spirit list instead of spirit detail
  app/routes/spirits.$slug.$aspect.tsx
Due: biome, typecheck

fix(view-transitions): use w-fit on detail titles for proper morph sizing
  app/routes/spirits.$slug.$aspect.tsx
  app/routes/spirits.$slug.tsx
Due: biome, typecheck

feat(gsd): add browser verification with Playwright MCP
  .claude/agents/gsd-browser-verifier.md
  .claude/commands/gsd/execute-phase.md
  .claude/get-shit-done/references/browser-verification.md
  .planning/config.json
Due: biome

fix(ci): migrate from deprecated pages-action to wrangler-action
  .github/workflows/deploy.yml
Due: none

fix(ci): add project creation step for Cloudflare Pages
  .github/workflows/deploy.yml
Due: none

chore(ci): remove project creation step (project now exists)
  .github/workflows/deploy.yml
Due: none

docs(quick-012): Fix Cloudflare CI auth error
  .planning/STATE.md
  .planning/quick/012-fix-cloudflare-ci-auth-error/012-PLAN.md
  .planning/quick/012-fix-cloudflare-ci-auth-error/012-SUMMARY.md
Due: none

docs(03): capture phase context
  .claude/settings.json
  .planning/phases/03-spirit-detail-board/03-CONTEXT.md
Due: biome
