Repository FlorinSenoner/the-dahan-codex: changes, and which lefthook commands are due for each by the changed paths.
All: biome, knip, typecheck, convex

biome:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

knip:
  run: pnpm knip

typecheck:
  run: pnpm tsc --noEmit

convex:
  run: pnpm exec convex typecheck

feat(05-04): create edit opening page with live preview
  app/routes/_admin/openings/$id.edit.tsx
Due: biome, knip, typecheck

docs(05-04): complete Create/Edit Opening Routes plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-04-SUMMARY.md
Due: none

test(05-06): add search page E2E tests
  e2e/search.spec.ts
Due: biome, knip, typecheck

test(05-06): add admin openings E2E tests
  e2e/admin-openings.spec.ts
Due: biome, knip, typecheck

docs(05-06): complete E2E tests for search and admin plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-06-SUMMARY.md
Due: none

chore(05): include auto-generated route tree updates
  app/routeTree.gen.ts
Due: biome, knip, typecheck

docs: add phase branching workflow to CLAUDE.md
  CLAUDE.md
Due: none

docs(05): capture phase context
  .planning/phases/05-text-opening-management/05-CONTEXT.md
Due: none

docs(05): research phase domain
  .planning/phases/05-text-opening-management/05-RESEARCH.md
Due: none

docs(05): create phase plan
  .planning/ROADMAP.md
  .planning/phases/05-text-opening-management/05-01-PLAN.md
  .planning/phases/05-text-opening-management/05-02-PLAN.md
  .planning/phases/05-text-opening-management/05-03-PLAN.md
  .planning/phases/05-text-opening-management/05-04-PLAN.md
  .planning/phases/05-text-opening-management/05-05-PLAN.md
  .planning/phases/05-text-opening-management/05-06-PLAN.md
Due: none

fix(05): revise plans based on checker feedback
  .planning/phases/05-text-opening-management/05-02-PLAN.md
  .planning/phases/05-text-opening-management/05-03-PLAN.md
  .planning/phases/05-text-opening-management/05-04-PLAN.md
  .planning/phases/05-text-opening-management/05-05-PLAN.md
  .planning/phases/05-text-opening-management/05-06-PLAN.md
Due: none

fix(05): revise plans based on checker feedback
  .planning/phases/05-text-opening-management/05-01-PLAN.md
  .planning/phases/05-text-opening-management/05-04-PLAN.md
  .planning/phases/05-text-opening-management/05-05-PLAN.md
  .planning/phases/05-text-opening-management/05-06-PLAN.md
Due: none

feat(05-01): create useAdmin hook for admin status check
  app/components/spirits/spirit-search.tsx
  app/hooks/index.ts
  app/hooks/use-admin.ts
Due: biome, knip, typecheck

feat(05-02): integrate search into spirits page
  app/hooks/index.ts
  app/hooks/use-edit-mode.ts
  app/routes/spirits.index.tsx
Due: biome, knip, typecheck

docs(05-02): complete spirit search plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-02-SUMMARY.md
  app/components/admin/edit-fab.tsx
  convex/openings.ts
  convex/schema.ts
  convex/seed.ts
  knip.json
Due: biome, knip, typecheck, convex

fix(05-03): remove difficulty references after schema removal
  app/components/spirits/opening-section.tsx
Due: biome, knip, typecheck

docs(05-01): complete admin infrastructure plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-01-SUMMARY.md
Due: none

docs(05-03): complete edit mode infrastructure plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-03-SUMMARY.md
Due: none

feat(05-04): create EditableText component
  app/components/admin/editable-text.tsx
Due: biome, knip, typecheck

feat(05-04): create EditableOpening component
  app/components/admin/editable-opening.tsx
Due: biome, knip, typecheck

feat(05-04): integrate edit mode in OpeningSection
  app/components/spirits/opening-section.tsx
Due: biome, knip, typecheck

docs(05-04): complete opening editor plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-04-SUMMARY.md
Due: none

feat(05-05): add CRUD mutations to OpeningSection
  app/components/spirits/opening-section.tsx
Due: biome, knip, typecheck

feat(05-05): integrate EditFab and navigation blocking
  app/routes/spirits.$slug.tsx
Due: biome, knip, typecheck

docs(05-05): complete opening CRUD operations plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-05-SUMMARY.md
Due: none

test(05-06): add search E2E tests
  e2e/search.spec.ts
Due: biome, knip, typecheck

test(05-06): add admin access control E2E tests
  e2e/admin.spec.ts
Due: biome, knip, typecheck

docs(05): create gap closure plans for verification failures
  .planning/ROADMAP.md
  .planning/phases/05-text-opening-management/05-07-PLAN.md
  .planning/phases/05-text-opening-management/05-08-PLAN.md
  .planning/phases/05-text-opening-management/05-09-PLAN.md
  .planning/phases/05-text-opening-management/05-10-PLAN.md
  .planning/phases/05-text-opening-management/05-11-PLAN.md
  .planning/phases/05-text-opening-management/05-12-PLAN.md
  .planning/phases/05-text-opening-management/05-13-PLAN.md
  .planning/phases/05-text-opening-management/05-14-PLAN.md
Due: none

fix(05): revise plans based on checker feedback
  .planning/phases/05-text-opening-management/05-09-PLAN.md
  .planning/phases/05-text-opening-management/05-14-PLAN.md
Due: none

fix(05-07): update admin role check from isAdmin to role
  app/hooks/use-admin.ts
  convex/lib/auth.ts
Due: biome, knip, typecheck, convex

refactor(05-08): remove turn notes field from schema and UI
  app/components/admin/editable-opening.tsx
  app/components/spirits/opening-section.tsx
  app/components/spirits/turn-accordion.tsx
  convex/openings.ts
  convex/schema.ts
  convex/seed.ts
Due: biome, knip, typecheck, convex

docs(05-07): complete role system change plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-07-SUMMARY.md
Due: none

docs(05-08): complete remove turn notes field plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-08-SUMMARY.md
Due: none

fix(05-13): prevent scroll jump on edit mode toggle
  app/components/spirits/opening-section.tsx
Due: biome, knip, typecheck

docs(05-13): complete fix scroll behavior on edit toggle plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-13-SUMMARY.md
Due: none

fix(05-09): stabilize form callbacks to prevent auto-save flickering
  app/components/admin/editable-opening.tsx
  app/routes/spirits.$slug.tsx
Due: biome, knip, typecheck

feat(05-12): replace browser confirm() with AlertDialog modals
  app/components/ui/alert-dialog.tsx
  package.json
  pnpm-lock.yaml
Due: biome, knip, typecheck

docs(05-12): complete delete confirmation modals plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-12-SUMMARY.md
Due: none

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json,jsonc}
  knip: any of: *.{js,ts,jsx,tsx,json}
  typecheck: any of: *.{ts,tsx}
  convex: any of: convex/*.ts
