Repository FlorinSenoner/the-dahan-codex: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

lefthook.yml:

pre-commit:
  commands:
    biome:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm tsc --noEmit

docs(quick-007): complete typography and UI components plan
  .planning/STATE.md
  .planning/quick/007-add-typography-and-reusable-ui-component/007-SUMMARY.md
Due: none

docs(quick-007): add typography and reusable UI components
  .planning/STATE.md
  .planning/quick/007-add-typography-and-reusable-ui-component/007-PLAN.md
Due: none

fix: resolve Convex SSR error with ClientOnly wrapper
  app/components/client-only.tsx
  app/components/spirits/spirit-list.tsx
  app/routes/spirits.$slug.tsx
  app/routes/spirits.index.tsx
Due: biome, typecheck

docs(quick-008): fix Convex SSR error with ClientOnly wrapper
  .planning/STATE.md
  .planning/quick/008-fix-convex-ssr-error/008-PLAN.md
  .planning/quick/008-fix-convex-ssr-error/008-SUMMARY.md
Due: none

style(quick-009): update element colors to match wiki icons
  app/styles/globals.css
Due: none

style(quick-009): create separate complexity color scheme
  app/lib/spirit-colors.ts
  app/styles/globals.css
Due: biome, typecheck

docs(quick-009): complete element and complexity color rework
  .planning/STATE.md
  .planning/quick/009-rework-element-and-complexity-colors/009-SUMMARY.md
Due: none

docs(quick-009): add element and complexity color rework plan
  .planning/quick/009-rework-element-and-complexity-colors/009-PLAN.md
Due: none

revert: remove ClientOnly SSR workaround (wrong approach)
  .planning/STATE.md
  .planning/quick/008-fix-convex-ssr-error/008-PLAN.md
  .planning/quick/008-fix-convex-ssr-error/008-SUMMARY.md
  app/components/client-only.tsx
  app/components/spirits/spirit-list.tsx
  app/routes/spirits.$slug.tsx
  app/routes/spirits.index.tsx
Due: biome, typecheck

fix: restore vibrant element colors for modifier arrows
  app/lib/spirit-colors.ts
Due: biome, typecheck

style: update modifier colors to sun/animal
  app/lib/spirit-colors.ts
Due: biome, typecheck

feat(quick-010): convert to pure client-only SPA
  app/client.tsx
  app/components/spirits/spirit-list.tsx
  app/lib/convex.ts
  app/routeTree.gen.ts
  app/router.tsx
  app/routes/__root.tsx
  app/routes/spirits.$slug.tsx
  app/routes/spirits.index.tsx
  app/server.tsx
  index.html
  package.json
  pnpm-lock.yaml
  scripts/generate-sw.ts
  vite.config.ts
Due: biome, typecheck

chore(quick-010): update CI/CD for Cloudflare Pages
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  public/_redirects
Due: none

chore(quick-010): final cleanup and documentation
  CLAUDE.md
  knip.json
  wrangler.jsonc
Due: biome
