Repository FlorinSenoner/the-dahan-codex: changes, and which lefthook commands are due for each by the changed paths.
All: biome, knip, typecheck, convex

lefthook.yml:

pre-commit:
  commands:
    biome:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run:
        pnpm biome check --write --no-errors-on-unmatched
        --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    knip:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: pnpm knip
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm tsc --noEmit
    convex:
      glob: "convex/*.ts"
      run: pnpm exec convex typecheck

feat(06-04): add UI components and SpiritPicker
  app/components/games/spirit-picker.tsx
  app/components/layout/bottom-nav.tsx
  app/components/ui/input.tsx
  app/components/ui/label.tsx
  app/components/ui/popover.tsx
  app/components/ui/radio-group.tsx
  app/components/ui/select.tsx
  app/components/ui/textarea.tsx
  knip.json
Due: biome, knip, typecheck

feat(06-04): add AdversaryPicker and GameForm components
  .planning/STATE.md
  .planning/phases/06-user-data/06-03-SUMMARY.md
Due: none

feat(06-04): add AdversaryPicker and GameForm components
  app/components/games/adversary-picker.tsx
  app/components/games/game-form.tsx
Due: biome, knip, typecheck

docs(06-04): complete game form UI plan
  .planning/STATE.md
  .planning/phases/06-user-data/06-04-SUMMARY.md
Due: none

feat(06-05): add new game creation page
  app/routeTree.gen.ts
  app/routes/_authenticated/games/new.tsx
Due: biome, knip, typecheck

fix(06-05): wire "New Game" button and add route stubs
  app/components/games/game-row.tsx
  app/routeTree.gen.ts
  app/routes/_authenticated/games/$id.tsx
  app/routes/_authenticated/games/index.tsx
Due: biome, knip, typecheck

docs(06-05): complete new game page plan
  .planning/STATE.md
  .planning/phases/06-user-data/06-05-SUMMARY.md
Due: none

docs(06-06): complete game detail page plan
  .planning/STATE.md
  .planning/phases/06-user-data/06-06-SUMMARY.md
Due: none

feat(06-07): create CSV export utility
  app/lib/csv-export.ts
Due: biome, knip, typecheck

feat(06-07): add Export CSV button to games list
  app/routes/_authenticated/games/index.tsx
Due: biome, knip, typecheck

feat(06-08): add CSV import utility
  app/lib/csv-import.ts
Due: biome, knip, typecheck

docs(06-07): complete CSV export plan
  .planning/STATE.md
  .planning/phases/06-user-data/06-07-SUMMARY.md
Due: none

feat(06-08): add importGames mutation for CSV import
  convex/games.ts
Due: biome, knip, typecheck, convex

feat(06-08): add CSV import page with preview
  app/components/games/csv-preview.tsx
  app/routes/_authenticated/games/import.tsx
  app/routes/_authenticated/games/index.tsx
Due: biome, knip, typecheck

docs(06-08): complete CSV import plan
  .planning/STATE.md
  .planning/phases/06-user-data/06-08-SUMMARY.md
Due: none

test(06-09): add game tracker E2E tests
  app/routeTree.gen.ts
  e2e/games.spec.ts
Due: biome, knip, typecheck

feat(quick-013): fix win/loss types to match Spirit Island terminology
  app/components/games/game-form.tsx
  app/lib/game-data.ts
Due: biome, knip, typecheck

feat(quick-013): reorganize game detail page layout
  app/routes/_authenticated/games/$id.tsx
Due: biome, knip, typecheck

feat(quick-013): remove undo toast and detect unchanged games in CSV import
  app/components/games/csv-preview.tsx
  app/lib/csv-import.ts
  app/routes/_authenticated/games/$id.tsx
  app/routes/_authenticated/games/import.tsx
Due: biome, knip, typecheck

docs(quick-013): complete game tracker UI polish plan
  .planning/quick/013-game-tracker-ui-polish-and-csv-import-fi/013-SUMMARY.md
Due: none

docs(quick-013): Game tracker UI polish and CSV import fix
  .planning/STATE.md
  .planning/quick/013-game-tracker-ui-polish-and-csv-import-fi/013-PLAN.md
Due: none

fix: reorder game stats and add score calculation breakdown
  app/routes/_authenticated/games/$id.tsx
Due: biome, knip, typecheck

fix: add labels to score breakdown and center align
  app/routes/_authenticated/games/$id.tsx
Due: biome, knip, typecheck

fix: group difficulty and win bonus in score breakdown
  app/routes/_authenticated/games/$id.tsx
Due: biome, knip, typecheck

fix: clarify "cards left × 2" in score breakdown
  app/routes/_authenticated/games/$id.tsx
Due: biome, knip, typecheck

fix: revert to "cards × 2" in score breakdown
  app/routes/_authenticated/games/$id.tsx
Due: biome, knip, typecheck

feat: improve game tracker UI layout and schema flexibility
  app/components/games/scenario-picker.tsx
  app/components/ui/page-header.tsx
  app/routes/_authenticated/games.tsx
  app/routes/_authenticated/games/index.tsx
  app/routes/_authenticated/games/new.tsx
  app/routes/settings.tsx
  app/routes/spirits.index.tsx
  convex/games.ts
  convex/schema.ts
Due: biome, knip, typecheck, convex

docs(06-09): complete E2E tests and verification plan
  .planning/STATE.md
  .planning/phases/06-user-data/06-09-SUMMARY.md
Due: none

fix(06): game tracker polish from UAT
  app/components/games/game-form.tsx
  app/lib/csv-import.ts
  app/routes/_authenticated/games/$id.tsx
  app/routes/_authenticated/games/import.tsx
  app/routes/_authenticated/games/new.tsx
Due: biome, knip, typecheck

docs(06): create gap closure plan for undo toast
  .planning/ROADMAP.md
  .planning/phases/06-user-data/06-10-PLAN.md
Due: none

chore(06-10): remove unused restoreGame mutation
  convex/games.ts
Due: biome, knip, typecheck, convex

docs(06-10): complete remove restoreGame plan
  .planning/STATE.md
  .planning/phases/06-user-data/06-10-PLAN.md
  .planning/phases/06-user-data/06-10-SUMMARY.md
Due: none

docs(06): complete user-data phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06-user-data/06-CONTEXT.md
  .planning/phases/06-user-data/06-VERIFICATION.md
Due: none

docs(06): add browser verification report
  .planning/phases/06-user-data/06-BROWSER-VERIFICATION.md
Due: none

test(06): complete UAT - 15 passed, 0 issues
  .planning/phases/06-user-data/06-UAT.md
Due: none

docs(6.1): plan phase - cleanup codebase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06.1-cleanup-thedahancodex/06.1-01-PLAN.md
  .planning/phases/06.1-cleanup-thedahancodex/06.1-02-PLAN.md
  .planning/phases/06.1-cleanup-thedahancodex/06.1-RESEARCH.md
Due: none

chore(06.1-01): remove dead code from abandoned Phase 3.4
  app/components/icons/elements/air.tsx
  app/components/icons/elements/animal.tsx
  app/components/icons/elements/any.tsx
  app/components/icons/elements/earth.tsx
  app/components/icons/elements/fire.tsx
  app/components/icons/elements/index.ts
  app/components/icons/elements/moon.tsx
  app/components/icons/elements/plant.tsx
  app/components/icons/elements/star.tsx
  app/components/icons/elements/sun.tsx
  app/components/icons/elements/water.tsx
  app/lib/power-dsl.ts
Due: biome, knip, typecheck
