Repository FlorinSenoner/the-dahan-codex: changes, and which lefthook commands are due for each by the changed paths.
All: biome, knip, typecheck, convex

biome:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

knip:
  run: pnpm knip

typecheck:
  run: pnpm tsc --noEmit

convex:
  run: pnpm exec convex typecheck

test(04-05): add Settings page E2E tests
  e2e/settings.spec.ts
Due: biome, knip, typecheck

docs(04-05): add manual test checklist for PWA cold-start offline
  e2e/MANUAL-TESTS.md
Due: none

docs(04-05): complete E2E Tests & Integration plan
  .planning/STATE.md
  .planning/phases/04-pwa-offline/04-05-SUMMARY.md
Due: none

chore(04): remove deprecated sw-register.ts
  app/lib/sw-register.ts
Due: biome, knip, typecheck

docs(04): complete PWA & Offline phase
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/04-pwa-offline/04-BROWSER-VERIFICATION.md
  .planning/phases/04-pwa-offline/04-VERIFICATION.md
Due: none

test(04): complete UAT - 4 passed, 5 issues
  .planning/phases/04-pwa-offline/04-UAT.md
Due: none

test(04): diagnose 5 UAT gaps with root causes
  .planning/phases/04-pwa-offline/04-UAT.md
Due: none

docs(04): create gap closure plans for UAT issues
  .planning/ROADMAP.md
  .planning/phases/04-pwa-offline/04-06-PLAN.md
  .planning/phases/04-pwa-offline/04-07-PLAN.md
  .planning/phases/04-pwa-offline/04-08-PLAN.md
  .planning/phases/04-pwa-offline/04-09-PLAN.md
Due: none

fix(04): revise plans based on checker feedback
  .planning/phases/04-pwa-offline/04-07-PLAN.md
  .planning/phases/04-pwa-offline/04-08-PLAN.md
  .planning/phases/04-pwa-offline/04-09-PLAN.md
Due: none

docs(04): create gap closure plans 04-06 through 04-09
  .planning/phases/04-pwa-offline/04-03-PLAN.md
  .planning/phases/04-pwa-offline/04-05-PLAN.md
Due: none

fix(04-06): redesign offline indicator to subtle bottom-right pill
  app/components/pwa/offline-indicator.tsx
  package.json
  pnpm-lock.yaml
Due: biome, knip, typecheck

feat(04-08): add IndexedDB persistence for query cache
  app/router.tsx
Due: biome, knip, typecheck

docs(04-06): complete subtle offline indicator plan
  .planning/STATE.md
  .planning/phases/04-pwa-offline/04-06-SUMMARY.md
Due: none

feat(04-07): simplify settings page cache management
  app/routeTree.gen.ts
  app/routes/settings.tsx
  e2e/settings.spec.ts
Due: biome, knip, typecheck

docs(04-07): complete simplify settings page plan
  .planning/STATE.md
  .planning/phases/04-pwa-offline/04-07-SUMMARY.md
Due: none

docs(04-08): complete query persistence plan
  .planning/STATE.md
  .planning/phases/04-pwa-offline/04-08-SUMMARY.md
Due: none

chore(04-09): remove ineffective Convex runtime caching rule
  scripts/generate-sw.ts
Due: biome, knip, typecheck

docs(04-09): add offline behavior documentation to spirit pages
  app/routes/spirits.$slug.$aspect.tsx
  app/routes/spirits.$slug.tsx
Due: biome, knip, typecheck

docs(04-09): complete service worker cleanup plan
  .planning/STATE.md
  .planning/phases/04-pwa-offline/04-09-SUMMARY.md
Due: none

docs(04): complete PWA & Offline phase
  .planning/ROADMAP.md
  .planning/phases/04-pwa-offline/04-VERIFICATION-FINAL.md
Due: none

fix(pwa): offline data persistence and page reload
  .planning/phases/04-pwa-offline/04-UAT-gap-closure.md
  app/client.tsx
  app/router.tsx
  app/routes/settings.tsx
  app/routes/spirits.$slug.$aspect.tsx
  app/routes/spirits.$slug.tsx
  app/routes/spirits.index.tsx
  scripts/generate-sw.ts
Due: biome, knip, typecheck

test(e2e): update offline indicator text to match UI
  e2e/pwa.spec.ts
Due: biome, knip, typecheck

docs(05): research phase domain
  .planning/phases/05-text-opening-management/05-RESEARCH.md
Due: none

docs(05): create phase plan for Text Opening Management
  .planning/ROADMAP.md
  .planning/phases/05-text-opening-management/05-01-PLAN.md
  .planning/phases/05-text-opening-management/05-02-PLAN.md
  .planning/phases/05-text-opening-management/05-03-PLAN.md
  .planning/phases/05-text-opening-management/05-04-PLAN.md
  .planning/phases/05-text-opening-management/05-05-PLAN.md
  .planning/phases/05-text-opening-management/05-06-PLAN.md
Due: none

feat(05-05): add Fuse.js search hook and queries
  app/hooks/index.ts
  app/hooks/use-search.ts
  convex/openings.ts
  convex/spirits.ts
  knip.json
  package.json
  pnpm-lock.yaml
Due: biome, knip, typecheck, convex

feat(05-05): create search page with grouped results
  app/routes/search.tsx
Due: biome, knip, typecheck

feat(05-05): add Search tab to bottom nav
  app/components/layout/bottom-nav.tsx
Due: biome, knip, typecheck

feat(05-01): create admin layout route with role guard
  app/routeTree.gen.ts
  app/routes/_admin.tsx
  app/routes/_admin/openings.tsx
Due: biome, knip, typecheck

docs(05-05): complete global search plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-05-SUMMARY.md
  knip.json
Due: biome, knip

feat(05-01): add Convex opening mutations with admin guard
  convex/openings.ts
Due: biome, knip, typecheck, convex

docs(05-01): complete admin foundation plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-01-SUMMARY.md
Due: none

feat(05-03): enhance Convex queries with sorting for admin
  app/lib/schemas/opening.ts
  convex/openings.ts
  convex/spirits.ts
  knip.json
Due: biome, knip, typecheck, convex

feat(05-03): create admin openings list page
  app/routes/_admin/openings.tsx
Due: biome, knip, typecheck

docs(05-03): complete admin openings list plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-03-SUMMARY.md
  app/components/admin/opening-form.tsx
Due: biome, knip, typecheck

docs(05-02): complete opening form component plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-02-SUMMARY.md
Due: none

feat(05-04): add getById query for edit page
  convex/openings.ts
Due: biome, knip, typecheck, convex

feat(05-04): create new opening page with slug auto-generation
  app/components/admin/opening-form.tsx
  app/routes/_admin/openings.tsx
  app/routes/_admin/openings/new.tsx
Due: biome, knip, typecheck

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json,jsonc}
  knip: any of: *.{js,ts,jsx,tsx,json}
  typecheck: any of: *.{ts,tsx}
  convex: any of: convex/*.ts
