Repository FlorinSenoner/the-dahan-codex: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

biome:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

typecheck:
  run: pnpm tsc --noEmit

docs(03.6-02): complete schema/seed cleanup verification plan
  .planning/STATE.md
  .planning/phases/03.6-simplify-spirit-board-text-openings/03.6-02-SUMMARY.md
Due: none

feat(03.6-04): add openings table to schema
  convex/schema.ts
Due: biome, typecheck

test(03.6-03): remove board sections test and fix variant tabs assertions
  e2e/spirits.spec.ts
Due: biome, typecheck

docs(03.6-03): complete E2E test updates plan
  .planning/STATE.md
  .planning/phases/03.6-simplify-spirit-board-text-openings/03.6-03-SUMMARY.md
Due: none

feat(03.6-04): create openings query functions
  convex/openings.ts
Due: biome, typecheck

docs(03.6-04): complete openings schema and queries plan
  .planning/STATE.md
  .planning/phases/03.6-simplify-spirit-board-text-openings/03.6-04-SUMMARY.md
Due: none

feat(03.6-06): create TurnAccordion component
  app/components/spirits/turn-accordion.tsx
Due: biome, typecheck

feat(03.6-05): add sample opening seed data for River
  convex/_generated/api.d.ts
  convex/seed.ts
Due: biome, typecheck

feat(03.6-06): create OpeningSection component
  app/components/spirits/opening-section.tsx
Due: biome, typecheck

docs(03.6-05): complete sample opening seed data plan
  .planning/STATE.md
  .planning/phases/03.6-simplify-spirit-board-text-openings/03.6-05-SUMMARY.md
Due: none

docs(03.6-06): complete opening display components plan
  .planning/STATE.md
  .planning/phases/03.6-simplify-spirit-board-text-openings/03.6-06-SUMMARY.md
Due: none

feat(03.6-07): add OpeningSection to spirit detail page
  app/routes/spirits.$slug.tsx
Due: biome, typecheck

docs(03.6-07): complete spirit detail integration plan
  .planning/STATE.md
  .planning/phases/03.6-simplify-spirit-board-text-openings/03.6-07-SUMMARY.md
Due: none

test(03.6): complete UAT - 5 passed, 3 issues
  .planning/phases/03.6-simplify-spirit-board-text-openings/3.6-UAT.md
Due: none

docs(03.6): create gap closure plan for UAT fixes
  .planning/ROADMAP.md
  .planning/phases/03.6-simplify-spirit-board-text-openings/03.6-08-PLAN.md
Due: none

feat(03.6-08): remove SpecialRules component and clean up schema/seed
  app/components/spirits/special-rules.tsx
  app/routes/spirits.$slug.tsx
  convex/schema.ts
  convex/seed.ts
Due: biome, typecheck

docs(03.6-08): verify aspect openings isolation and reseed database
  app/components/spirits/opening-section.tsx
Due: biome, typecheck

docs(03.6-08): complete UAT gap closure plan
  .planning/phases/03.6-simplify-spirit-board-text-openings/03.6-08-SUMMARY.md
  .planning/phases/03.6-simplify-spirit-board-text-openings/03.6-VERIFICATION.md
  .planning/phases/03.6-simplify-spirit-board-text-openings/3.6-UAT.md
Due: none

docs(03.6-08): complete UAT gap closure plan
  .planning/STATE.md
  .planning/phases/03.6-simplify-spirit-board-text-openings/03.6-08-SUMMARY.md
Due: none

docs(03.6): complete simplify spirit board + text openings phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/03.6-simplify-spirit-board-text-openings/03.6-VERIFICATION.md
  app/components/icons/elements/any.tsx
  app/components/icons/elements/star.tsx
Due: biome, typecheck

fix(schema): add deprecated specialRules for production compatibility
  convex/schema.ts
Due: biome, typecheck

chore: add Convex typecheck to pre-commit and CI
  .github/workflows/ci.yml
  lefthook.yml
  package.json
Due: biome

docs(04): capture phase context
  .planning/phases/04-pwa-offline/04-CONTEXT.md
Due: none

docs(04): research PWA & offline domain
  .planning/phases/04-pwa-offline/04-RESEARCH.md
Due: none

docs(04): create phase plan
  .planning/ROADMAP.md
  .planning/phases/04-pwa-offline/04-01-PLAN.md
  .planning/phases/04-pwa-offline/04-02-PLAN.md
  .planning/phases/04-pwa-offline/04-03-PLAN.md
  .planning/phases/04-pwa-offline/04-04-PLAN.md
  .planning/phases/04-pwa-offline/04-05-PLAN.md
Due: none

feat(04-01): add workbox-window and SPA navigateFallback
  package.json
  pnpm-lock.yaml
  scripts/generate-sw.ts
Due: biome, typecheck

feat(04-01): create PWA hooks for offline support
  app/hooks/index.ts
  app/hooks/use-install-prompt.ts
  app/hooks/use-online-status.ts
  app/hooks/use-service-worker.ts
  knip.json
Due: biome, typecheck

docs(04-01): complete PWA hooks plan
  .planning/STATE.md
  .planning/phases/04-pwa-offline/04-01-SUMMARY.md
Due: none

feat(04-03): create settings page with cache management
  app/components/pwa/offline-indicator.tsx
  app/routes/settings.tsx
  knip.json
Due: biome, typecheck

feat(04-02): create UpdateBanner component
  app/components/pwa/update-banner.tsx
Due: biome, typecheck

feat(04-02): create InstallPrompt component
  app/components/pwa/install-prompt.tsx
Due: biome, typecheck

docs(04-03): complete settings page plan
  .planning/STATE.md
  .planning/phases/04-pwa-offline/04-03-SUMMARY.md
Due: none

docs(04-02): complete PWA UI components plan
  .planning/STATE.md
  .planning/phases/04-pwa-offline/04-02-SUMMARY.md
Due: none

feat(04-04): integrate PWA components into root layout
  app/lib/sw-register.ts
  app/routes/__root.tsx
Due: biome, typecheck

feat(04-04): enable Settings tab in bottom navigation
  app/components/layout/bottom-nav.tsx
Due: biome, typecheck

docs(04-04): complete PWA integration plan
  .planning/STATE.md
  .planning/phases/04-pwa-offline/04-04-SUMMARY.md
Due: none

test(04-05): add PWA E2E tests
  e2e/pwa.spec.ts
Due: biome, typecheck

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json,jsonc}
  typecheck: any of: *.{ts,tsx}
