Repository FlorinSenoner/the-dahan-codex: changes, and which lefthook commands are due for each by the changed paths.
All: biome, knip, typecheck, convex

biome:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

knip:
  run: pnpm knip

typecheck:
  run: pnpm tsc --noEmit

convex:
  run: pnpm exec convex typecheck

chore(06.1-01): remove unused exports from spirit-colors.ts
  app/lib/spirit-colors.ts
Due: biome, knip, typecheck

chore(06.1-01): remove "use client" directives from UI components
  app/components/ui/accordion.tsx
  app/components/ui/drawer.tsx
  app/components/ui/label.tsx
  app/components/ui/popover.tsx
  app/components/ui/radio-group.tsx
  app/components/ui/select.tsx
  app/components/ui/tooltip.tsx
Due: biome, knip, typecheck

docs(06.1-01): complete dead code cleanup plan
  .planning/STATE.md
  .planning/phases/06.1-cleanup-thedahancodex/06.1-01-SUMMARY.md
Due: none

refactor(06.1-02): update banner pill styling
  app/components/pwa/update-banner.tsx
Due: biome, knip, typecheck

docs(06.1-02): update CLAUDE.md for client-only SPA
  CLAUDE.md
Due: none

docs(06.1-02): complete UI consistency & docs update plan
  .planning/STATE.md
  .planning/phases/06.1-cleanup-thedahancodex/06.1-02-SUMMARY.md
Due: none

docs(6.1): complete cleanup thedahancodex phase
  .planning/ROADMAP.md
  .planning/phases/06.1-cleanup-thedahancodex/06.1-VERIFICATION.md
Due: none

test(06.1): UAT complete - 3 passed, 2 issues diagnosed
  .planning/phases/06.1-cleanup-thedahancodex/06.1-03-PLAN.md
  .planning/phases/06.1-cleanup-thedahancodex/06.1-UAT.md
Due: none

fix(06.1-03): replace raw buttons with shadcn Button + update banner UX
  CLAUDE.md
  app/components/pwa/install-prompt.tsx
  app/components/pwa/update-banner.tsx
  app/components/spirits/filter-chips.tsx
  app/components/spirits/filter-sheet.tsx
Due: biome, knip, typecheck

docs(06.1-03): complete button consistency & update banner plan
  .planning/STATE.md
  .planning/phases/06.1-cleanup-thedahancodex/06.1-03-SUMMARY.md
Due: none

fix(06.1): add gap_closure frontmatter to plan 03
  .planning/phases/06.1-cleanup-thedahancodex/06.1-03-PLAN.md
Due: none

docs(06.1): complete cleanup phase with UAT gap closure
  .planning/ROADMAP.md
  .planning/phases/06.1-cleanup-thedahancodex/06.1-VERIFICATION.md
Due: none

fix(06.1): UAT gap closure - cursor-pointer and hover states
  .planning/phases/06.1-cleanup-thedahancodex/06.1-UAT.md
  CLAUDE.md
  app/components/pwa/update-banner.tsx
  app/components/spirits/filter-chips.tsx
  app/components/spirits/filter-sheet.tsx
  app/components/ui/button.tsx
  app/components/ui/page-header.tsx
Due: biome, knip, typecheck

refactor(06.1): extract ExternalLinkCard and FilterPill components
  .planning/phases/06.1-cleanup-thedahancodex/06.1-UAT.md
  app/components/spirits/external-links.tsx
  app/components/spirits/filter-chips.tsx
  app/components/spirits/filter-sheet.tsx
  app/components/ui/external-link-card.tsx
  app/components/ui/filter-pill.tsx
  app/routes/credits.tsx
Due: biome, knip, typecheck

docs(06.1): update STATE.md with component extraction completion
  .planning/STATE.md
Due: none

docs: add mandatory phase completion checklist to CLAUDE.md
  CLAUDE.md
Due: none

chore: insert Phase 6.2 - Fix Code Duplication
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06.2-fix-code-duplication/06.2-01-PLAN.md
  .planning/phases/06.2-fix-code-duplication/06.2-02-PLAN.md
  .planning/phases/06.2-fix-code-duplication/06.2-03-PLAN.md
  .planning/phases/06.2-fix-code-duplication/06.2-04-PLAN.md
  .planning/phases/06.2-fix-code-duplication/06.2-05-PLAN.md
  .planning/phases/06.2-fix-code-duplication/06.2-06-PLAN.md
  .planning/phases/06.2-fix-code-duplication/06.2-07-PLAN.md
Due: none

refactor(convex): extract reusable validators in games.ts
  convex/games.ts
Due: biome, knip, typecheck, convex

refactor(convex): extract getBaseSpiritBySlug helper in spirits.ts
  convex/spirits.ts
Due: biome, knip, typecheck, convex

refactor(convex): consolidate seed.ts with shared helper functions
  .jscpd.json
  convex/seed.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: biome, knip, typecheck, convex

refactor(games): extract ScoreBreakdown to shared component
  app/components/games/game-form.tsx
  app/components/games/score-breakdown.tsx
  app/routes/_authenticated/games/$id.tsx
Due: biome, knip, typecheck

refactor(games): extract transformGameFormToPayload utility
  app/lib/game-form-utils.ts
  app/routes/_authenticated/games/$id.tsx
  app/routes/_authenticated/games/new.tsx
Due: biome, knip, typecheck

chore: set jscpd threshold to 1.5% and exclude e2e tests
  .jscpd.json
Due: biome, knip

docs: update roadmap and state for Phase 6.2 progress
  .planning/ROADMAP.md
  .planning/STATE.md
Due: none

feat(phase-6.2): complete duplication cleanup (plans 06-07)
  app/components/spirits/opening-section.tsx
  app/lib/csv-export.ts
  app/lib/csv-import.ts
  app/lib/csv-spirits.ts
  convex/games.ts
Due: biome, knip, typecheck, convex

docs: update STATE.md for Phase 6.2 completion
  .planning/STATE.md
Due: none

chore: add jscpd report directory to gitignore
  .gitignore
Due: none

Phase 6.2: Fix Code Duplication (#18)
  .gitignore
  .jscpd.json
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/06.2-fix-code-duplication/06.2-01-PLAN.md
  .planning/phases/06.2-fix-code-duplication/06.2-02-PLAN.md
  .planning/phases/06.2-fix-code-duplication/06.2-03-PLAN.md
  .planning/phases/06.2-fix-code-duplication/06.2-04-PLAN.md
  .planning/phases/06.2-fix-code-duplication/06.2-05-PLAN.md
  .planning/phases/06.2-fix-code-duplication/06.2-06-PLAN.md
  .planning/phases/06.2-fix-code-duplication/06.2-07-PLAN.md
  app/components/games/game-form.tsx
  app/components/games/score-breakdown.tsx
  app/components/spirits/opening-section.tsx
  app/lib/csv-export.ts
  app/lib/csv-import.ts
  app/lib/csv-spirits.ts
  app/lib/game-form-utils.ts
  app/routes/_authenticated/games/$id.tsx
  app/routes/_authenticated/games/new.tsx
  convex/games.ts
  convex/seed.ts
  convex/spirits.ts
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: biome, knip, typecheck, convex

docs: require user verification before merging PRs
  CLAUDE.md
Due: none

chore: update jscpd threshold to 5% (industry standard)
  .jscpd.json
Due: biome, knip

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json,jsonc}
  knip: any of: *.{js,ts,jsx,tsx,json}
  typecheck: any of: *.{ts,tsx}
  convex: any of: convex/*.ts
