Repository FlorinSenoner/the-dahan-codex: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

lefthook.yml:

pre-commit:
  commands:
    biome:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm tsc --noEmit

feat(01-01): create TanStack Start application scaffold
  app/client.tsx
  app/routeTree.gen.ts
  app/router.tsx
  app/routes/__root.tsx
  app/routes/index.tsx
  app/server.tsx
  biome.json
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: biome, typecheck

docs(01-01): complete project scaffold plan
  .planning/STATE.md
  .planning/phases/01-foundation-authentication/01-01-SUMMARY.md
Due: none

chore(01-02): install Cloudflare deployment dependencies
  package.json
  pnpm-lock.yaml
Due: biome

feat(01-02): configure TanStack Start for Cloudflare Workers
  .gitignore
  vite.config.ts
  wrangler.jsonc
Due: biome, typecheck

feat(01-02): add deployment scripts and wrangler configuration
  package.json
  wrangler.jsonc
Due: biome

docs(01-02): complete Cloudflare Workers deployment plan
  .planning/STATE.md
  .planning/phases/01-foundation-authentication/01-02-SUMMARY.md
Due: none

feat(01-03): install Convex and initialize project
  convex/README.md
  convex/_generated/api.d.ts
  convex/_generated/api.js
  convex/_generated/dataModel.d.ts
  convex/_generated/server.d.ts
  convex/_generated/server.js
  convex/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: biome, typecheck

feat(01-03): create Convex schema and health query
  convex/_generated/api.d.ts
  convex/_generated/dataModel.d.ts
  convex/health.ts
  convex/schema.ts
Due: biome, typecheck

feat(01-03): integrate Convex client with TanStack app
  app/lib/convex.ts
  app/routes/__root.tsx
  app/routes/index.tsx
  app/vite-env.d.ts
Due: biome, typecheck

docs(01-03): complete Convex backend integration plan
  .planning/STATE.md
  .planning/phases/01-foundation-authentication/01-03-SUMMARY.md
Due: none

feat(01-04): install Clerk and configure environment
  convex/auth.config.ts
  package.json
  pnpm-lock.yaml
Due: biome, typecheck

feat(01-04): add Clerk and Convex auth providers
  app/lib/auth.ts
  app/routes/__root.tsx
Due: biome, typecheck

feat(01-04): add Convex auth helpers with admin detection
  convex/lib/auth.ts
Due: biome, typecheck

feat(01-04): create sign-in page and protected routes
  app/routeTree.gen.ts
  app/routes/_authenticated.tsx
  app/routes/_authenticated/profile.tsx
  app/routes/index.tsx
  app/routes/sign-in.$.tsx
Due: biome, typecheck

docs(01-04): complete Clerk authentication plan
  .planning/STATE.md
  .planning/phases/01-foundation-authentication/01-04-SUMMARY.md
Due: none

feat(01-05): install Workbox dependencies and create PWA manifest
  package.json
  pnpm-lock.yaml
  public/icons/icon-192.png
  public/icons/icon-512.png
  public/icons/icon-maskable-512.png
  public/manifest.json
Due: biome

feat(01-05): create service worker generator script
  package.json
  scripts/generate-sw.ts
Due: biome, typecheck
