Repository FlorinSenoner/the-dahan-codex: changes, and which lefthook commands are due for each by the changed paths.
All: biome, knip, typecheck, convex

lefthook.yml:

pre-commit:
  commands:
    biome:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run:
        pnpm biome check --write --no-errors-on-unmatched
        --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    knip:
      glob: "*.{js,ts,jsx,tsx,json}"
      run: pnpm knip
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm tsc --noEmit
    convex:
      glob: "convex/*.ts"
      run: pnpm exec convex typecheck

docs(05-09): complete fix auto-save flickering plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-09-SUMMARY.md
Due: none

feat(05-10): add turn validation before save
  app/components/admin/editable-opening.tsx
  app/components/admin/editable-text.tsx
  app/components/spirits/opening-section.tsx
Due: biome, knip, typecheck

docs(05-11): complete navigation warning verification plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-11-SUMMARY.md
Due: none

docs(05-10): complete turn validation plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-10-SUMMARY.md
Due: none

feat(05-14): add multiple openings tabs UI
  app/components/spirits/opening-section.tsx
  app/routes/spirits.$slug.$aspect.tsx
  app/routes/spirits.$slug.tsx
Due: biome, knip, typecheck

docs(05-14): complete multiple openings tabs UI plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-14-SUMMARY.md
Due: none

test(05): complete UAT - 7 passed, 7 issues
  .planning/phases/05-text-opening-management/05-UAT.md
Due: none

docs(05): create gap closure plans 05-15 through 05-18
  .planning/ROADMAP.md
  .planning/phases/05-text-opening-management/05-15-PLAN.md
  .planning/phases/05-text-opening-management/05-16-PLAN.md
  .planning/phases/05-text-opening-management/05-17-PLAN.md
  .planning/phases/05-text-opening-management/05-18-PLAN.md
Due: none

fix(05): revise plans based on checker feedback
  .planning/phases/05-text-opening-management/05-16-PLAN.md
  .planning/phases/05-text-opening-management/05-18-PLAN.md
Due: none

fix(05-15): add aspectName to spirit search filter
  app/routes/spirits.index.tsx
Due: biome, knip, typecheck

feat(05-16): add isValid prop to EditFab for save button state
  app/components/admin/edit-fab.tsx
Due: biome, knip, typecheck

fix(05-17): preserve edit param when deleting opening
  app/components/spirits/opening-section.tsx
Due: biome, knip, typecheck

docs(05-15): complete aspect name search plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-15-SUMMARY.md
Due: none

feat(05-16): reset form state after save and expose isValid
  app/components/admin/editable-opening.tsx
  app/components/spirits/opening-section.tsx
  knip.json
Due: biome, knip, typecheck

feat(05-18): convert edit mode from URL to React Context
  app/contexts/edit-mode-context.tsx
  app/hooks/use-edit-mode.ts
  app/routes/__root.tsx
  app/routes/spirits.$slug.$aspect.tsx
  app/routes/spirits.$slug.tsx
Due: biome, knip, typecheck

feat(05-16): wire isValid, exit edit mode after save, themed AlertDialog
  app/routes/spirits.$slug.tsx
Due: biome, knip, typecheck

docs(05-18): complete edit mode scroll fix plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-18-SUMMARY.md
Due: none

docs(05-16): complete save flow improvements plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-16-SUMMARY.md
Due: none

docs(05-17): complete delete behavior fixes plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-17-SUMMARY.md
Due: none

test(05-06): update admin E2E tests for React Context edit mode
  e2e/admin.spec.ts
Due: biome, knip, typecheck

fix(05-06): address checkpoint verification issues
  app/components/admin/edit-fab.tsx
  app/routes/spirits.$slug.tsx
Due: biome, knip, typecheck

docs(05-06): complete E2E tests plan
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-06-SUMMARY.md
Due: none

docs(05): complete text opening management phase
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/phases/05-text-opening-management/05-BROWSER-VERIFICATION.md
  .planning/phases/05-text-opening-management/05-VERIFICATION.md
Due: none

fix(05): resolve navigation blocker and scroll issues
  .planning/phases/05-text-opening-management/05-UAT-verification.md
  app/components/spirits/opening-section.tsx
  app/routes/spirits.$slug.tsx
Due: biome, knip, typecheck

docs(06): capture phase context
  .planning/phases/06-user-data/06-CONTEXT.md
Due: none

docs(06): research phase domain
  .planning/phases/06-user-data/06-RESEARCH.md
Due: none

docs(06): create phase plan
  .planning/ROADMAP.md
  .planning/phases/06-user-data/06-01-PLAN.md
  .planning/phases/06-user-data/06-02-PLAN.md
  .planning/phases/06-user-data/06-03-PLAN.md
  .planning/phases/06-user-data/06-04-PLAN.md
  .planning/phases/06-user-data/06-05-PLAN.md
  .planning/phases/06-user-data/06-06-PLAN.md
  .planning/phases/06-user-data/06-07-PLAN.md
  .planning/phases/06-user-data/06-08-PLAN.md
  .planning/phases/06-user-data/06-09-PLAN.md
Due: none

fix(gsd): add branch safety check to prevent commits to main
  .claude/agents/gsd-phase-researcher.md
  .claude/agents/gsd-planner.md
  .claude/commands/gsd/plan-phase.md
Due: none

docs: document branch-first workflow for GSD phases
  CLAUDE.md
Due: none

feat(06-01): add games table to Convex schema
  convex/schema.ts
Due: biome, knip, typecheck, convex

feat(06-01): install UI dependencies and create components
  app/components/ui/command.tsx
  app/components/ui/sonner.tsx
  convex/lib/scoring.ts
  knip.json
  package.json
  pnpm-lock.yaml
Due: biome, knip, typecheck, convex

feat(06-01): mount Toaster in app root
  app/routes/__root.tsx
Due: biome, knip, typecheck

feat(06-02): add game CRUD mutations and queries
  convex/_generated/api.d.ts
  convex/games.ts
Due: biome, knip, typecheck, convex

docs(06-01): complete schema and dependencies plan
  .planning/STATE.md
  .planning/phases/06-user-data/06-01-SUMMARY.md
Due: none

docs(06-02): complete Game CRUD plan
  .planning/STATE.md
  .planning/phases/06-user-data/06-02-SUMMARY.md
Due: none

feat(06-04): add game reference data constants
  app/lib/game-data.ts
Due: biome, knip, typecheck

feat(06-03): add games list page with GameRow component
  app/components/games/game-row.tsx
  app/routeTree.gen.ts
  app/routes/_authenticated/games.tsx
  app/routes/_authenticated/games/index.tsx
  package.json
  pnpm-lock.yaml
Due: biome, knip, typecheck
