Repository FlorinSenoner/the-dahan-codex: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

lefthook.yml:

pre-commit:
  commands:
    biome:
      glob: "*.{js,ts,jsx,tsx,json,jsonc}"
      run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
      stage_fixed: true
    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm tsc --noEmit

docs(03): capture phase context
  .claude/settings.json
  .planning/phases/03-spirit-detail-board/03-CONTEXT.md
Due: biome

docs(03): research phase domain
  .planning/phases/03-spirit-detail-board/03-RESEARCH.md
Due: none

docs(03): create phase plan
  .planning/ROADMAP.md
  .planning/phases/03-spirit-detail-board/03-01-PLAN.md
  .planning/phases/03-spirit-detail-board/03-02-PLAN.md
  .planning/phases/03-spirit-detail-board/03-03-PLAN.md
  .planning/phases/03-spirit-detail-board/03-04-PLAN.md
  .planning/phases/03-spirit-detail-board/03-05-PLAN.md
  .planning/phases/03-spirit-detail-board/03-06-PLAN.md
Due: none

docs(03): update research with enhanced patterns
  .planning/phases/03-spirit-detail-board/03-RESEARCH.md
Due: none

feat(03-01): extend spirit schema with board data fields
  convex/schema.ts
Due: biome, typecheck

feat(03-01): add complete board data to River and Lightning
  convex/seed.ts
Due: biome, typecheck

feat(03-01): add getSpiritWithAspects query
  convex/spirits.ts
Due: biome, typecheck

docs(03-01): complete schema and seed data plan
  .planning/STATE.md
  .planning/phases/03-spirit-detail-board/03-01-SUMMARY.md
Due: none

chore(03-02): install recharts and shadcn/ui components
  app/components/ui/accordion.tsx
  app/components/ui/collapsible.tsx
  app/components/ui/tabs.tsx
  app/components/ui/tooltip.tsx
  knip.json
  package.json
  pnpm-lock.yaml
Due: biome, typecheck

feat(03-02): add VariantTabs component for spirit aspect switching
  app/components/spirits/variant-tabs.tsx
  knip.json
Due: biome, typecheck

feat(03-02): integrate VariantTabs into spirit detail routes
  app/routes/spirits.$slug.$aspect.tsx
  app/routes/spirits.$slug.tsx
Due: biome, typecheck

fix(03-02): remove unused headerName variable
  app/routes/spirits.$slug.tsx
Due: biome, typecheck

docs(03-02): complete variant tabs component plan
  .planning/STATE.md
  .planning/phases/03-spirit-detail-board/03-02-SUMMARY.md
Due: none

feat(03-03): add PowerRadarChart component
  app/components/spirits/growth-panel.tsx
  app/components/spirits/power-radar-chart.tsx
Due: biome, typecheck
