Repository FlorinSenoner/the-dahan-codex: changes, and which lefthook commands are due for each by the changed paths.
All: biome, knip, typecheck, convex

biome:
  run: pnpm biome check --write --no-errors-on-unmatched --files-ignore-unknown=true {staged_files}
  stage_fixed: true

knip:
  run: pnpm knip

typecheck:
  run: pnpm tsc --noEmit

convex:
  run: pnpm exec convex typecheck

chore: update jscpd threshold to 5% (industry standard)
  .jscpd.json
Due: biome, knip

docs(8): research phase domain
  .planning/phases/08-spirit-aspect-data-scraping/08-RESEARCH.md
Due: none

docs(08): create phase plan for spirit & aspect data scraping
  .planning/ROADMAP.md
  .planning/phases/08-spirit-aspect-data-scraping/08-01-PLAN.md
  .planning/phases/08-spirit-aspect-data-scraping/08-02-PLAN.md
  .planning/phases/08-spirit-aspect-data-scraping/08-03-PLAN.md
  .planning/phases/08-spirit-aspect-data-scraping/08-04-PLAN.md
  .planning/phases/08-spirit-aspect-data-scraping/08-05-PLAN.md
  .planning/phases/08-spirit-aspect-data-scraping/08-06-PLAN.md
Due: none

fix(08): revise plans based on checker feedback
  .planning/ROADMAP.md
  .planning/phases/08-spirit-aspect-data-scraping/08-01-PLAN.md
  .planning/phases/08-spirit-aspect-data-scraping/08-04-PLAN.md
  .planning/phases/08-spirit-aspect-data-scraping/08-05-PLAN.md
Due: none

feat(08-01): extend spirit scraper config with all 37 spirits
  scripts/scrape-spirits.ts
Due: biome, knip, typecheck

feat(08-02): create aspect scraper with complete aspect list
  scripts/scrape-aspects.ts
Due: biome, knip, typecheck

feat(08-01): add metadata extraction from wiki pages
  scripts/scrape-spirits.ts
Due: biome, knip, typecheck

feat(08-02): implement wiki scraping for aspect data
  scripts/scrape-aspects.ts
Due: biome, knip, typecheck

docs(08-02): complete aspect scraper plan
  .planning/phases/08-spirit-aspect-data-scraping/08-02-SUMMARY.md
Due: none

docs(08-01): complete spirit scraper plan with 37 spirits
  .planning/phases/08-spirit-aspect-data-scraping/08-01-SUMMARY.md
  scripts/data/spirits.json
Due: biome, knip

feat(08-03): create image download script
  scripts/download-images.ts
Due: biome, knip, typecheck

feat(08-03): download all 37 base spirit images
  public/spirits/a-spread-of-rampant-green.png
  public/spirits/breath-of-darkness-down-your-spine.png
  public/spirits/bringer-of-dreams-and-nightmares.png
  public/spirits/dances-up-earthquakes.png
  public/spirits/devouring-teeth-lurk-underfoot.png
  public/spirits/downpour-drenches-the-world.png
  public/spirits/ember-eyed-behemoth.png
  public/spirits/eyes-watch-from-the-trees.png
  public/spirits/fathomless-mud-of-the-swamp.png
  public/spirits/finder-of-paths-unseen.png
  public/spirits/fractured-days-split-the-sky.png
  public/spirits/grinning-trickster-stirs-up-trouble.png
  public/spirits/heart-of-the-wildfire.png
  public/spirits/hearth-vigil.png
  public/spirits/keeper-of-the-forbidden-wilds.png
  public/spirits/lure-of-the-deep-wilderness.png
  public/spirits/many-minds-move-as-one.png
  public/spirits/oceans-hungry-grasp.png
  public/spirits/relentless-gaze-of-the-sun.png
  public/spirits/rising-heat-of-stone-and-sand.png
  public/spirits/serpent-slumbering-beneath-the-island.png
  public/spirits/shadows-flicker-like-flame.png
  public/spirits/sharp-fangs-behind-the-leaves.png
  public/spirits/shifting-memory-of-ages.png
  public/spirits/shroud-of-silent-mist.png
  public/spirits/starlight-seeks-its-form.png
  public/spirits/stones-unyielding-defiance.png
  public/spirits/sun-bright-whirlwind.png
  public/spirits/thunderspeaker.png
  public/spirits/towering-roots-of-the-jungle.png
  public/spirits/vengeance-as-a-burning-plague.png
  public/spirits/vital-strength-of-the-earth.png
  public/spirits/volcano-looming-high.png
  public/spirits/wandering-voice-keens-delirium.png
  public/spirits/wounded-waters-bleeding.png
  scripts/download-images.ts
Due: biome, knip, typecheck

feat(08-03): download all 31 aspect images
  public/spirits/a-spread-of-rampant-green-regrowth.png
  public/spirits/a-spread-of-rampant-green-tangles.png
  public/spirits/bringer-of-dreams-and-nightmares-enticing.png
  public/spirits/bringer-of-dreams-and-nightmares-violence.png
  public/spirits/heart-of-the-wildfire-transforming.png
  public/spirits/keeper-of-the-forbidden-wilds-spreading-hostility.png
  public/spirits/lightnings-swift-strike-sparking.png
  public/spirits/lure-of-the-deep-wilderness-lair.png
  public/spirits/oceans-hungry-grasp-deeps.png
  public/spirits/river-surges-in-sunlight-haven.png
  public/spirits/serpent-slumbering-beneath-the-island-locus.png
  public/spirits/shadows-flicker-like-flame-amorphous.png
  public/spirits/shadows-flicker-like-flame-dark-fire.png
  public/spirits/shadows-flicker-like-flame-foreboding.png
  public/spirits/shadows-flicker-like-flame-madness.png
  public/spirits/shadows-flicker-like-flame-reach.png
  public/spirits/sharp-fangs-behind-the-leaves-encircle.png
  public/spirits/sharp-fangs-behind-the-leaves-unconstrained.png
  public/spirits/shifting-memory-of-ages-intensify.png
  public/spirits/shifting-memory-of-ages-mentor.png
  public/spirits/shroud-of-silent-mist-stranded.png
  public/spirits/thunderspeaker-tactician.png
  public/spirits/thunderspeaker-warrior.png
  public/spirits/vital-strength-of-the-earth-might.png
  public/spirits/vital-strength-of-the-earth-nourishing.png
  public/spirits/vital-strength-of-the-earth-resilience.png
  scripts/download-images.ts
Due: biome, knip, typecheck

docs(08-03): complete image downloader plan
  .planning/STATE.md
  .planning/phases/08-spirit-aspect-data-scraping/08-03-SUMMARY.md
Due: none

feat(08-05): implement opening preservation during reseed
  convex/seed.ts
Due: biome, knip, typecheck, convex

feat(08-04): create seed-data module with 37 spirit definitions
  convex/seed-data/spirits.ts
Due: biome, knip, typecheck, convex

docs(08-05): complete opening preservation plan
  .planning/STATE.md
  .planning/phases/08-spirit-aspect-data-scraping/08-05-SUMMARY.md
Due: none

feat(08-04): add 31 aspect definitions to seed-data module
  convex/seed-data/spirits.ts
Due: biome, knip, typecheck, convex

feat(08-04): update seed.ts to use new seedData module
  convex/seed.ts
  convex/seedData/spirits.ts
Due: biome, knip, typecheck, convex

docs(08-04): complete update seed data plan
  .planning/STATE.md
  .planning/phases/08-spirit-aspect-data-scraping/08-04-SUMMARY.md
Due: none

feat(08): add 22 opening guides and fix image paths
  convex/seed.ts
  convex/seedData/openings.ts
  convex/seedData/spirits.ts
  scripts/data/openings.json
  scripts/scrape-openings.ts
Due: biome, knip, typecheck, convex

fix(08): slugify aspect names in URLs
  app/components/spirits/variant-tabs.tsx
  app/lib/utils.ts
  convex/spirits.ts
Due: biome, knip, typecheck, convex

feat(08): add 16 BGG opening guides from Jeremy Lennert threads
  convex/seedData/openings.ts
  scripts/data/bgg-openings.json
Due: biome, knip, typecheck, convex

feat(08): add 9 Phantaskippy wiki opening guides
  convex/seedData/openings.ts
  scripts/data/wiki-openings.json
Due: biome, knip, typecheck, convex

feat(08): add 4 Breath of Darkness openings from BGG NI thread
  convex/seedData/openings.ts
  scripts/data/nature-incarnate-openings.json
Due: biome, knip, typecheck, convex

feat(08): add 17 community opening guides from BGG & Wiki
  convex/seedData/openings.ts
  scripts/data/aspects.json
  scripts/data/bgg-je-openings-1.json
  scripts/data/bgg-je-openings-2.json
  scripts/data/bgg-promo-openings.json
  scripts/data/bgg-vengeance-opening.json
  scripts/data/wiki-antistone-openings.json
Due: biome, knip, typecheck, convex

docs(08): update state with opening guides progress
  .planning/STATE.md
Due: none

feat(08): add 23 opening guides for Horizons & Nature Incarnate spirits
  convex/seedData/openings.ts
  scripts/data/horizons-openings.json
  scripts/data/nature-incarnate-openings.json
  scripts/data/wiki-antistone-openings.json
Due: biome, knip, typecheck, convex

fix(e2e): update overview section test for spirits without strengths
  e2e/spirits.spec.ts
Due: biome, knip, typecheck

fix(ui): make opening tabs horizontally scrollable
  app/components/spirits/opening-section.tsx
Due: biome, knip, typecheck

refactor: extract shared scraping utils and clean up duplicated patterns
  convex/games.ts
  scripts/download-images.ts
  scripts/lib/scrape-utils.ts
  scripts/scrape-aspects.ts
  scripts/scrape-openings.ts
  scripts/scrape-spirits.ts
  src/components/games/scenario-picker.tsx
  src/components/spirits/opening-section.tsx
  src/styles/globals.css
Due: biome, knip, typecheck, convex

chore: update pre-push hook to use `pnpm test` instead of `pnpm test:e2e`
  lefthook.yml
Due: none

Path conditions:
  biome: any of: *.{js,ts,jsx,tsx,json,jsonc}
  knip: any of: *.{js,ts,jsx,tsx,json}
  typecheck: any of: *.{ts,tsx}
  convex: any of: convex/*.ts
