Repository FlorinSenoner/the-dahan-codex: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier, typecheck

biome:
  run: npx biome check --write --staged {staged_files}
  stage_fixed: true

prettier:
  run: npx prettier --write {staged_files}
  stage_fixed: true

typecheck:
  run: pnpm typecheck

ci: remove unsupported pr-title action input
  .github/workflows/pr-title.yml
Due: prettier

feat(pwa): use neutral app shell for SW navigations
  app-shell.html
  src/sw.ts
  vite.config.ts
Due: biome, prettier, typecheck

feat(pwa): use neutral app shell for SW navigations (#51)
  app-shell.html
  src/sw.ts
  vite.config.ts
Due: biome, prettier, typecheck

fix(seo): ensure app-shell sessions keep description and canonical meta
  app-shell.html
  src/hooks/use-page-meta.ts
Due: biome, prettier, typecheck

fix(seo): ensure app-shell sessions keep description and canonical meta (#52)
  app-shell.html
  src/hooks/use-page-meta.ts
Due: biome, prettier, typecheck

fix: move global sync to root and prevent games auth flicker
  e2e/games.spec.ts
  src/hooks/use-background-sync.ts
  src/routes/__root.tsx
  src/routes/games.tsx
  src/routes/games/index.tsx
  src/routes/spirits.$slug.$aspect.tsx
  src/routes/spirits.$slug.tsx
Due: biome, typecheck

fix: move global sync to root and prevent games auth flicker (#53)
  e2e/games.spec.ts
  src/hooks/use-background-sync.ts
  src/routes/__root.tsx
  src/routes/games.tsx
  src/routes/games/index.tsx
  src/routes/spirits.$slug.$aspect.tsx
  src/routes/spirits.$slug.tsx
Due: biome, typecheck

fix: defer heavy spirit sync to idle time and improve games auth flow
  e2e/games.spec.ts
  src/hooks/use-background-sync.ts
  src/routes/games/index.tsx
Due: biome, typecheck

fix: defer heavy spirit sync to idle time and improve games auth flow (#54)
  e2e/games.spec.ts
  src/hooks/use-background-sync.ts
  src/routes/games/index.tsx
Due: biome, typecheck

fix: prevent toast from hiding behind bottom nav during page transitions
  src/components/layout/bottom-nav.tsx
  src/styles/globals.css
Due: biome, typecheck

fix: prevent toast from hiding behind bottom nav during page transitions (#55)
  src/components/layout/bottom-nav.tsx
  src/styles/globals.css
Due: biome, typecheck

fix: simplify games auth to cache-first, fix offline blank pages
  .planning/STATE.md
  CLAUDE.md
  src/routes/games/$id.tsx
  src/routes/games/import.tsx
  src/routes/games/index.tsx
  src/routes/games/new.tsx
Due: biome, prettier, typecheck

fix: simplify games auth to cache-first, fix offline blank pages (#56)
  .planning/STATE.md
  CLAUDE.md
  src/routes/games/$id.tsx
  src/routes/games/import.tsx
  src/routes/games/index.tsx
  src/routes/games/new.tsx
Due: biome, prettier, typecheck

docs: map existing codebase
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
Due: prettier

docs: clean up outdated planning docs and fix stale counts
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/codebase/CONCERNS.md
  .planning/debug/resolved/card-speed-border-styling.md
  .planning/debug/resolved/complex-spirits-not-seeded.md
  .planning/debug/resolved/element-energy-icon-rendering.md
  .planning/debug/resolved/presence-track-graph-dsl.md
  .planning/debug/resolved/serpent-deep-slumber-track.md
  .planning/debug/resolved/service-worker-not-registering.md
  .planning/debug/resolved/spirit-track-colors.md
  .planning/debug/resolved/tabs-scroll-behind-header.md
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Due: prettier

docs: clean up outdated planning docs and fix stale counts (#57)
  .planning/PROJECT.md
  .planning/REQUIREMENTS.md
  .planning/ROADMAP.md
  .planning/STATE.md
  .planning/codebase/ARCHITECTURE.md
  .planning/codebase/CONCERNS.md
  .planning/codebase/CONVENTIONS.md
  .planning/codebase/INTEGRATIONS.md
  .planning/codebase/STACK.md
  .planning/codebase/STRUCTURE.md
  .planning/codebase/TESTING.md
  .planning/debug/resolved/card-speed-border-styling.md
  .planning/debug/resolved/complex-spirits-not-seeded.md
  .planning/debug/resolved/element-energy-icon-rendering.md
  .planning/debug/resolved/presence-track-graph-dsl.md
  .planning/debug/resolved/serpent-deep-slumber-track.md
  .planning/debug/resolved/service-worker-not-registering.md
  .planning/debug/resolved/spirit-track-colors.md
  .planning/debug/resolved/tabs-scroll-behind-header.md
  .planning/research/ARCHITECTURE.md
  .planning/research/FEATURES.md
  .planning/research/PITFALLS.md
  .planning/research/STACK.md
  .planning/research/SUMMARY.md
Due: prettier

chore: remove Cloudflare account ID from mise.toml
  mise.toml
Due: none

chore: remove Cloudflare account ID from mise.toml (#58)
  mise.toml
Due: none

chore: add MIT license, fix README, sanitize deployment names
  .planning/phases/01-foundation-authentication/01-03-SUMMARY.md
  .planning/phases/01-foundation-authentication/01-04-SUMMARY.md
  .planning/quick/004-improve-deployment-workflow/004-SUMMARY.md
  LICENSE
  README.md
Due: prettier

docs: rewrite README for public launch with live URL
  README.md
Due: prettier

docs: rewrite README for public launch with live URL (#59)
  README.md
Due: prettier

feat: add GitHub repository link to credits page footer
  src/routes/credits.tsx
Due: biome, typecheck

feat: add GitHub repository link to credits page footer (#60)
  src/routes/credits.tsx
Due: biome, typecheck

Path conditions:
  biome: any of: *.{js,jsx,ts,tsx,json,css}
  prettier: any of: *.{md,mdx,html,yml,yaml}
  typecheck: any of: *.{ts,tsx}
