Repository FlorinSenoner/the-dahan-codex: changes, and which lefthook commands are due for each by the changed paths.
All: biome, prettier, typecheck

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    check-branch:
      run: |
        BRANCH=$(git rev-parse --abbrev-ref HEAD)
        if [ "$BRANCH" = "main" ]; then
          echo "ERROR: Do not commit directly to main!"
          exit 1
        fi

    biome:
      glob: "*.{js,jsx,ts,tsx,json,css}"
      run: npx biome check --write --staged {staged_files}
      stage_fixed: true

    prettier:
      glob: "*.{md,mdx,html,yml,yaml}"
      run: npx prettier --write {staged_files}
      stage_fixed: true

    typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

pre-push:
  parallel: true
  commands:
    knip:
      run: pnpm knip

    jscpd:
      run: pnpm jscpd

    test:
      run: pnpm test

feat: add GitHub repository link to credits page footer (#60)
  src/routes/credits.tsx
Due: biome, typecheck

chore: relax cache-control headers from no-store to no-cache
  public/_headers
Due: none

chore: relax cache-control headers from no-store to no-cache (#61)
  public/_headers
Due: none

docs: resolve debug duplicate-spirit-images
  .planning/debug/resolved/duplicate-spirit-images.md
Due: prettier

docs: resolve debug card-images-prefetch
  .planning/debug/resolved/card-images-prefetch.md
Due: prettier

fix: guard sync button against unauthenticated game sync
  src/routes/settings.tsx
Due: biome, typecheck

docs: resolve debug sync-data-button-broken
  .planning/debug/resolved/sync-data-button-broken.md
Due: prettier

fix: keep bottom nav and toast above content during view transitions
  src/components/layout/bottom-nav.tsx
  src/components/ui/sonner.tsx
  src/styles/globals.css
Due: biome, typecheck

fix: keep bottom nav and toast above content during view transitions (#63)
  src/components/layout/bottom-nav.tsx
  src/components/ui/sonner.tsx
  src/styles/globals.css
Due: biome, typecheck

chore: add debug doc and spirit island PNG asset
  .planning/debug/resolved/view-transition-nav-z-index.md
  public/spirit-island.png
Due: prettier

chore: add debug doc and spirit island PNG asset (#66)
  .planning/debug/resolved/view-transition-nav-z-index.md
  public/spirit-island.png
Due: prettier

chore: ignore generated cursor skills and resync catalog
  .cursor/skills/bug-fix/SKILL.md
  .cursor/skills/bug/SKILL.md
  .cursor/skills/cloudflare-deploy/SKILL.md
  .cursor/skills/codebase-audit/SKILL.md
  .cursor/skills/composition-patterns/SKILL.md
  .cursor/skills/convex-audit/SKILL.md
  .cursor/skills/convex-cron-jobs/SKILL.md
  .cursor/skills/convex-file-storage/SKILL.md
  .cursor/skills/copywriting/SKILL.md
  .cursor/skills/embedding-strategies/SKILL.md
  .cursor/skills/feature-build/SKILL.md
  .cursor/skills/feature/SKILL.md
  .cursor/skills/fix-tests/SKILL.md
  .cursor/skills/frontend-design/SKILL.md
  .cursor/skills/gh-fix-ci/SKILL.md
  .cursor/skills/imagegen/SKILL.md
  .cursor/skills/playwright/SKILL.md
  .cursor/skills/rag-implementation/SKILL.md
  .cursor/skills/screenshot/SKILL.md
  .cursor/skills/security-best-practices/SKILL.md
  .cursor/skills/tailwind-audit/SKILL.md
  .cursor/skills/tailwind-design-system/SKILL.md
  .cursor/skills/ui-audit/SKILL.md
  .cursor/skills/watchci/SKILL.md
  .cursor/skills/web-design-guidelines/SKILL.md
  .cursor/skills/yeet/SKILL.md
  .prettierignore
Due: prettier

chore: remove dinochron-only workflow skills
  .claude/skills/bug-fix/SKILL.md
  .claude/skills/bug/SKILL.md
  .claude/skills/feature-build/SKILL.md
  .claude/skills/feature/SKILL.md
  .cursor/skills/bug-fix/SKILL.md
  .cursor/skills/bug/SKILL.md
  .cursor/skills/feature-build/SKILL.md
  .cursor/skills/feature/SKILL.md
Due: prettier

chore: remove find-skills projection
  .claude/skills/find-skills/SKILL.md
  .cursor/skills/find-skills/SKILL.md
Due: prettier

chore: sync promoted base skills from catalog
  .claude/skills/audit-website/SKILL.md
  .claude/skills/convex-best-practices/SKILL.md
  .claude/skills/convex-functions/SKILL.md
  .claude/skills/convex-http-actions/SKILL.md
  .claude/skills/convex-realtime/SKILL.md
  .claude/skills/convex-schema-validator/SKILL.md
  .claude/skills/convex-security-check/SKILL.md
  .claude/skills/convex/SKILL.md
  .claude/skills/ui-ux-pro-max/SKILL.md
  .claude/skills/vercel-composition-patterns/SKILL.md
  .claude/skills/webapp-testing/SKILL.md
  .cursor/skills/audit-website/SKILL.md
  .cursor/skills/convex-best-practices/SKILL.md
  .cursor/skills/convex-functions/SKILL.md
  .cursor/skills/convex-http-actions/SKILL.md
  .cursor/skills/convex-realtime/SKILL.md
  .cursor/skills/convex-schema-validator/SKILL.md
  .cursor/skills/convex-security-check/SKILL.md
  .cursor/skills/convex/SKILL.md
  .cursor/skills/ui-ux-pro-max/SKILL.md
  .cursor/skills/vercel-composition-patterns/SKILL.md
  .cursor/skills/webapp-testing/SKILL.md
Due: prettier

chore: remove broken skill references
  .claude/skills/audit-website/SKILL.md
  .claude/skills/cloudflare-deploy/SKILL.md
  .claude/skills/copywriting/SKILL.md
  .claude/skills/e2e-testing-patterns/SKILL.md
  .claude/skills/gh-fix-ci/SKILL.md
  .claude/skills/imagegen/SKILL.md
  .claude/skills/playwright/SKILL.md
  .claude/skills/screenshot/SKILL.md
  .claude/skills/security-best-practices/SKILL.md
  .claude/skills/ui-ux-pro-max/SKILL.md
  .claude/skills/webapp-testing/SKILL.md
  .cursor/skills/audit-website/SKILL.md
  .cursor/skills/cloudflare-deploy/SKILL.md
  .cursor/skills/copywriting/SKILL.md
  .cursor/skills/e2e-testing-patterns/SKILL.md
  .cursor/skills/gh-fix-ci/SKILL.md
  .cursor/skills/imagegen/SKILL.md
  .cursor/skills/playwright/SKILL.md
  .cursor/skills/screenshot/SKILL.md
  .cursor/skills/security-best-practices/SKILL.md
  .cursor/skills/ui-ux-pro-max/SKILL.md
  .cursor/skills/webapp-testing/SKILL.md
Due: prettier

docs: restore runnable skill command examples
  .claude/skills/ui-ux-pro-max/SKILL.md
  .claude/skills/webapp-testing/SKILL.md
  .cursor/skills/ui-ux-pro-max/SKILL.md
  .cursor/skills/webapp-testing/SKILL.md
Due: prettier

ci: align biome schema and suppress view-transition pseudo lint
  biome.json
Due: biome

fix(pwa): allow larger precache assets
  vite.config.ts
Due: biome, typecheck

docs: restore runnable skill command examples
  .claude/skills/gh-fix-ci/SKILL.md
  .claude/skills/playwright/SKILL.md
  .claude/skills/screenshot/SKILL.md
Due: prettier

chore(biome): upgrade to 2.4.4 and narrow pseudo-element ignore
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome, prettier

ci: align pre-push with CI toolchain and checks
  lefthook.yml
Due: prettier

feat: replace notes tab with home in bottom nav
  e2e/games.spec.ts
  src/components/layout/bottom-nav.tsx
Due: biome, typecheck

fix: restore PWCLI export and add mise fallback in pre-push
  .cursor/skills/playwright/SKILL.md
  lefthook.yml
Due: prettier

docs: enforce conventional commit and PR title rules
  AGENTS.md
Due: prettier

ci: allow deps PR titles in title validation
  .github/workflows/pr-title.yml
Due: prettier

feat: replace notes tab with home and improve local workflow reliability
  .cursor/skills/playwright/SKILL.md
  .github/workflows/pr-title.yml
  AGENTS.md
  e2e/games.spec.ts
  lefthook.yml
  src/components/layout/bottom-nav.tsx
Due: biome, prettier, typecheck

feat(spirits): add setup section and seed setup data
  .gitignore
  AGENTS.md
  convex/schema.ts
  convex/seed.ts
  convex/seedData/spirits.ts
  convex/spirits.ts
  convex/tsconfig.json
  scripts/data/aspects.json
  scripts/data/spirits.json
  src/components/spirits/setup-section.tsx
  src/components/spirits/spirit-list.tsx
  src/components/spirits/spirit-row.tsx
  src/routes/spirits.$slug.tsx
  src/types/convex.ts
  tsconfig.json
Due: biome, prettier, typecheck

feat(spirits): add setup section and seed setup data (#71)
  .gitignore
  AGENTS.md
  convex/schema.ts
  convex/seed.ts
  convex/seedData/spirits.ts
  convex/spirits.ts
  convex/tsconfig.json
  scripts/data/aspects.json
  scripts/data/spirits.json
  src/components/spirits/setup-section.tsx
  src/components/spirits/spirit-list.tsx
  src/components/spirits/spirit-row.tsx
  src/routes/spirits.$slug.tsx
  src/types/convex.ts
  tsconfig.json
Due: biome, prettier, typecheck

refactor(convex): clean up seed data and harden validators
  .planning/PROJECT.md
  .planning/STATE.md
  AGENTS.md
  CLAUDE.md
  README.md
  convex/_generated/api.d.ts
  convex/games.ts
  convex/health.ts
  convex/lib/auth.ts
  convex/lib/validators.ts
  convex/openings.ts
  convex/publishAuto.ts
  convex/schema.ts
  convex/seed.ts
  convex/seedData/openings.ts
  convex/seedData/spirits.ts
  convex/spirits.ts
  scripts/build-openings-raw-archive.mjs
  scripts/data/openings-raw-by-source.json
  scripts/data/openings.json
  src/components/spirits/setup-section.tsx
  src/hooks/use-outbox-sync.ts
  src/lib/game-form-utils.ts
  src/lib/offline-games.ts
  src/routes/games/$id.tsx
  src/routes/games/index.tsx
  src/types/convex.ts
Due: biome, prettier, typecheck

perf(convex): collapse public build calls and secure live reads
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/publish-public.yml
  .gitignore
  .planning/runbooks/convex-call-budget.md
  convex/_generated/api.d.ts
  convex/openings.ts
  convex/publicSnapshot.ts
  convex/spirits.ts
  e2e/settings.spec.ts
  package.json
  scripts/generate-public-routes.mjs
  scripts/generate-public-snapshot.mjs
  scripts/measure-convex-calls.mjs
  scripts/prerender-public-routes.mjs
  src/components/spirits/opening-section.tsx
  src/hooks/use-background-sync.ts
  src/lib/public-snapshot.ts
  src/lib/sync.ts
  src/routes/settings.tsx
  src/routes/spirits.$slug.$aspect.tsx
  src/routes/spirits.$slug.tsx
  src/routes/spirits.index.tsx
Due: biome, prettier, typecheck

fix(dev): use convex public data locally
  src/lib/public-snapshot.ts
Due: biome, typecheck

fix(ci): resolve snapshot generation and call-budget review findings
  .github/workflows/ci.yml
  .planning/runbooks/convex-call-budget.md
  scripts/generate-public-snapshot.mjs
  src/lib/public-snapshot.ts
Due: biome, prettier, typecheck

fix(snapshot): revalidate public data and preserve production sync
  .github/workflows/deploy.yml
  .github/workflows/publish-public.yml
  src/lib/public-snapshot.ts
Due: biome, prettier, typecheck
